@import 'styles/helpers';

.blink {
  animation: blink-animation 1.05s steps(4, start) infinite;
  -webkit-animation: blink-animation 1.05s steps(4, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

html, body {
  overflow:hidden;
}
body {
  user-select: none;
  background: #000;
  * {
    user-select: none;
  }
}
.appContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  display: flex;
}
