<template>
  <div class="BL admin-btn" @click="adminFunc" :style="{ bottom: position.bottom + 'px', left: position.left + 'px' }"></div>
</template>

<script>
export default {
  name: 'adminButton',
  props: {
    adminFunc: Function,
    position: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      active: false,
    };
  },
  methods: {},
};
</script>
<style lang="scss">
.admin-btn {
  position: absolute;
  width: 80px;
  height: 30px;
  background: rgba(60, 0, 0, 0.35);
}
</style>
