<template>
  <div class="burner" v-bind:id="'burner' + id" :style="{ top: position.top + 'px', left: position.left + 'px' }">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="238.1px" height="185.9px" overflow="visible">
      <burner-art :active="startBurner || activatetransition"></burner-art>
      <g v-show="startBurner" id="burner_status_hot">
        <path
          class="red"
          d="M104.9 87.5v-5.9h1V84h2.7v-2.4h1v5.9h-1v-2.6h-2.7v2.6zM111.5 84.6c0-2 1.2-3.1 2.7-3.1 1.5 0 2.7 1.1 2.7 3.1s-1.2 3.1-2.7 3.1c-1.6 0-2.7-1.1-2.7-3.1m4.3 0c0-1.4-.7-2.2-1.7-2.2s-1.7.8-1.7 2.2c0 1.4.7 2.2 1.7 2.2s1.7-.8 1.7-2.2M119.7 87.5v-4.9h-1.8v-1h4.7v1h-1.9v4.9z"
        />
      </g>
    </svg>
    <div class="lowlabel TL">
      <svg xmlns="http://www.w3.org/2000/svg" width="24.3" height="6.8" overflow="visible">
        <g v-if="low == 'melt'" id="label_melt">
          <path
            class="lt_grey"
            d="M3.1 6.7V0h1.5l1.8 5.3L8.1 0h1.5v6.7H8.5v-5c-.1.5-.2.9-.4 1.4L6.8 6.7h-1L4.5 3.1c-.1-.5-.2-.8-.4-1.5v5h-1zM10.7 4.3c0-1.8 1.3-2.5 2.3-2.5 1.1 0 2.1.6 2.1 2.6v.3h-3.3c0 .9.6 1.2 1.3 1.2.6 0 1-.2 1.3-.6l.6.6c-.5.5-1.2.9-2 .9-1.2 0-2.3-.8-2.3-2.5zm3.4-.5c-.1-.7-.4-1.1-1.1-1.1-.5 0-1 .3-1.1 1.1h2.2zM16.1 6.7V0h1.1v6.7h-1.1zM18.9 5.4V2.8h-.8v-.9h.8V.2H20v1.7h1.2v.9H20v2.4c0 .5.2.7.7.7.2 0 .4 0 .5-.1v.9c-.1 0-.5.1-.8.1-1.2-.1-1.5-.5-1.5-1.4z"
          />
        </g>
        <g v-if="low == 'low'" id="label_low">
          <path
            class="lt_grey"
            d="M4.1 6.7V0h1.1v5.6h3.1v1H4.1zM8.6 4.3c0-1.8 1.2-2.5 2.3-2.5 1.2 0 2.3.7 2.3 2.5 0 1.7-1.2 2.5-2.3 2.5S8.6 6 8.6 4.3zm3.6 0c0-.9-.4-1.5-1.2-1.5-.8 0-1.2.6-1.2 1.5s.4 1.6 1.2 1.6c.8-.1 1.2-.6 1.2-1.6zM15 6.7l-1.4-4.8h1.1l.5 2c.1.5.2.9.4 1.5.1-.6.2-1 .4-1.5l.5-2h.9l.5 2c.2.5.2.9.4 1.5.1-.6.2-1 .4-1.5l.5-2h1l-1.4 4.8h-1l-.9-3.3-.9 3.3h-1z"
          />
        </g>
        <g v-if="low == 'warm'" id="label_warm">
          <path
            class="lt_grey"
            d="M1.8 6.7L0 0h1.1L2 3.5 2.3 5l.3-1.5.9-3.5h1.1l.8 3.5c.1.6.3 1 .4 1.5.1-.6.2-.9.3-1.5L6.9 0H8L6.2 6.7h-1L4 1.6 2.8 6.7h-1zM8.1 5.5c0-1 .9-1.7 3.1-2v-.1c0-.5-.3-.7-.8-.7-.7 0-1.2.3-1.6.6l-.5-.6c.5-.5 1.3-.9 2.3-.9 1.3 0 1.7.6 1.7 1.7v2c0 .6 0 .9.1 1.2h-1.1c-.1-.2-.1-.3-.1-.6-.5.5-1.1.7-1.8.7s-1.3-.5-1.3-1.3zm3.1-.1V4.3c-1.3.2-2 .5-2 1 0 .4.3.6.7.6.5 0 1-.2 1.3-.5zM13.5 6.7V1.9h1.1v.8c.3-.5.8-.9 1.7-.9h.1v1h-.3c-.7 0-1.2.3-1.5.8v3h-1.1zM17.2 6.7V1.9h1.1v.7c.4-.4.9-.7 1.6-.7.8 0 1.1.3 1.3.8.4-.4.9-.8 1.7-.8 1 0 1.4.6 1.4 1.4v3.4h-1.1V3.5c0-.5-.2-.8-.7-.8-.5 0-.8.3-1.2.6v3.3h-1.1V3.5c0-.5-.2-.8-.7-.8-.4 0-.8.3-1.2.6v3.3h-1.1z"
          />
        </g>
      </svg>
    </div>
    <div class="highlabel TL">
      <svg xmlns="http://www.w3.org/2000/svg" width="25.4" height="17.8" overflow="visible">
        <g v-if="high == 'powerboil'" id="label_powerboil">
          <path
            class="lt_grey"
            d="M0 6.7V0h2.3c1.4 0 2.6.5 2.6 2 0 1.6-1.2 2.1-2.6 2.1H1.1v2.5H0zm1.1-3.5h1.2c1 0 1.4-.3 1.4-1.1.1-.8-.4-1.1-1.4-1.1H1.1v2.2zM5.2 4.3c0-1.8 1.2-2.5 2.3-2.5 1.2 0 2.3.7 2.3 2.5 0 1.7-1.2 2.5-2.3 2.5S5.2 6 5.2 4.3zm3.5 0c0-.9-.4-1.5-1.2-1.5-.8 0-1.2.6-1.2 1.5s.4 1.6 1.2 1.6c.8-.1 1.2-.6 1.2-1.6zM11.6 6.7l-1.4-4.8h1.1l.5 2c.1.5.2.9.4 1.5.1-.6.2-1 .4-1.5l.5-2h.9l.5 2c.2.5.2.9.4 1.5.1-.6.2-1 .4-1.5l.5-2h1l-1.4 4.8h-1l-.9-3.3-.9 3.3h-1zM17.1 4.3c0-1.8 1.3-2.5 2.3-2.5 1.1 0 2.1.6 2.1 2.6v.3h-3.3c0 .9.6 1.2 1.3 1.2.6 0 1-.2 1.3-.6l.6.6c-.5.5-1.2.9-2 .9-1.2 0-2.3-.8-2.3-2.5zm3.4-.5c-.1-.7-.4-1.1-1.1-1.1-.5 0-1 .3-1.1 1.1h2.2zM22.5 6.7V1.9h1.1v.8c.3-.5.8-.9 1.7-.9h.1v1h-.3c-.7 0-1.2.3-1.5.8v3h-1.1zM0 17.7V11h2.5c1.3 0 2.3.4 2.3 1.7 0 .9-.5 1.4-1.2 1.5.9.2 1.4.6 1.4 1.6 0 1.2-1 1.8-2.4 1.8H0zm1.1-3.9h1.3c.9 0 1.4-.3 1.4-.9 0-.6-.4-.9-1.3-.9H1.1v1.8zm0 2.9h1.5c1 0 1.4-.3 1.4-1s-.5-1-1.5-1H1.1v2zM5.8 15.3c0-1.8 1.2-2.5 2.3-2.5 1.2 0 2.3.7 2.3 2.5 0 1.7-1.2 2.5-2.3 2.5s-2.3-.8-2.3-2.5zm3.6 0c0-.9-.4-1.5-1.2-1.5-.8 0-1.2.6-1.2 1.5s.4 1.6 1.2 1.6c.8-.1 1.2-.6 1.2-1.6zM11.5 12.1v-1h1.1v1h-1.1zm0 5.6v-4.8h1.1v4.8h-1.1zM14 17.7V11h1.1v6.7H14z"
          />
        </g>
        <g v-if="high == 'high'" id="label_high">
          <path
            class="lt_grey"
            d="M0 6.7V0h1.1v2.7h3V0h1.1v6.7h-1v-3h-3v3H0zM6.7 1.1v-1h1.1v1H6.7zm0 5.6V1.9h1.1v4.8H6.7zM8.6 7.3c0-.5.3-.8.8-1-.3-.1-.4-.3-.4-.5 0-.4.3-.7.6-.9-.4-.3-.7-.8-.7-1.4 0-1 .8-1.7 2-1.7.7 0 1.1.2 1.5.5.3-.2.8-.4 1.2-.5v.9c-.2 0-.5 0-.8.1.1.2.2.4.2.6 0 1-.7 1.7-2 1.7-.3 0-.4 0-.7-.1-.2.2-.3.3-.3.4 0 .2.1.3.5.3l.8.1c1.4.1 2 .5 2 1.3 0 1-1 1.5-2.5 1.5-1.5-.1-2.2-.6-2.2-1.3zm3.8-.1c0-.3-.2-.5-1.2-.5l-.8-.1h-.3c-.4.1-.5.3-.5.6 0 .4.5.6 1.5.6.8-.1 1.3-.3 1.3-.6zm-.5-3.7c0-.6-.3-.9-1-.9-.6 0-1 .3-1 .9s.4.9 1 .9 1-.3 1-.9zM14.4 6.7V0h1.1v2.5c.3-.3.9-.7 1.7-.7.8 0 1.4.5 1.4 1.4v3.4h-1.1V3.5c0-.5-.2-.8-.7-.8s-.9.3-1.3.7v3.3h-1.1z"
          />
        </g>
      </svg>
    </div>
    <div id="burnerBtnHolder" class="TL">
      <burnerButtons
        :active="startBurner"
        :pairing="pairing"
        :pcactivate="pcactivate"
        :pcactivate2="pcactivate2"
        :id="id"
        :position="{ top: 2, left: 38 }"
      ></burnerButtons>
    </div>
    <div @click="togglePower" class="powerButton">
      <svg xmlns="http://www.w3.org/2000/svg" width="33.9" height="33.9" overflow="visible">
        <g id="powerButton">
          <circle cx="17" cy="17" r="17" class="grey" />
          <g id="icon">
            <path
              d="M17 25.6c-4.4 0-7.9-3.6-7.9-8 0-3.2 1.9-6 4.8-7.3l.6 1.4c-2.4 1-3.9 3.3-3.9 5.9 0 3.6 2.9 6.5 6.4 6.5s6.4-2.9 6.4-6.5c0-2.6-1.5-4.9-3.9-5.9l.6-1.4c2.9 1.3 4.8 4.1 4.8 7.3 0 4.5-3.5 8-7.9 8z"
            />
            <path d="M16.2 8.3h1.5v9.4h-1.5z" />
          </g>
        </g>
      </svg>
    </div>
    <div id="temperatureUp" @click="increaseTemp">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" overflow="visible">
        <g>
          <circle cx="15" cy="15" r="15" />
          <path class="lt_grey" d="M14.3 9.8h1.5v10.8h-1.5z" />
          <path class="lt_grey" d="M9.6 14.4h10.8v1.5H9.6z" />
        </g>
      </svg>
    </div>
    <div id="temperatureDown" @click="decreaseTemp">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" overflow="visible">
        <g>
          <circle cx="15" cy="15" r="15" />
          <path class="lt_grey" d="M9.6 14.4h10.8v1.5H9.6z" />
        </g>
      </svg>
    </div>
    <div class="temperature" :class="{ blink: isBlinking }" v-show="ready || pairing">
      <temperature
        :active="startBurner"
        :status="active && !paired"
        :key="id"
        :heating="heating"
        :paired="paired"
        :temperature="targettemperature"
        v-bind:burner="temperatureGauge[id].burner"
        v-bind:location="temperatureGauge[id].location[option]"
        v-bind:arrow="temperatureGauge[id].arrow[option]"
        :option="option"
        v-bind:position="temperatureGauge[id].position[option]"
      ></temperature>
    </div>
    <div class="ringSize" v-if="id == 1 || id == 4">
      <ringSizeButton
        :active="startBurner"
        :key="id == 1 ? 'large' : 'small'"
        :max="2"
        :burnerSize="id == 1 ? 'large' : 'small'"
        :burner="id"
        :position="id == 1 ? { top: 0, left: 177 } : { top: 3.5, left: 174 }"
      ></ringSizeButton>
    </div>
  </div>
</template>
<script>
import './elements.js';
import './directives/index.js';
import burnerButtons from './burnerButtons.vue';
import ringSizeButton from './ringSizeButton.vue';
import temperature from './temperature.vue';
import { gsap, TweenLite, TimelineMax } from 'gsap/all';

export default {
  components: { temperature, ringSizeButton, burnerButtons },
  props: {
    pcactivate: {
      type: Boolean,
      default: false,
    },
    pcactivate2: {
      type: Boolean,
      default: false,
    },
    option: {
      type: Number,
      default: 0,
    },
    position: {
      type: Object,
      required: true,
    },
    low: {
      type: String,
    },
    high: {
      type: String,
    },
    name: {
      type: String,
    },
    id: {
      type: Number,
    },
  },
  data: function() {
    return {
      burn: null,
      activatetransition: false,
      startBurner: false,
      running: false,
      ready: false,
      heating: false,
      pairPhase: 0,
      pairing: false,
      paired: false,
      isBlinking:false,
      // option: 0,
      firstTouch: true,
      rotation: 0,
      synced: false,
      syncedBurner: false,
      tempTrack: null,
      temperature: 0,
      temperatureIndex: 1,
      targettemperature: 0,
      burner: null,
      knobProxy: null,
      dialValue: null,
      dialLine: null,
      drag: null,
      maxRotation: 200,
      rotationOffset: -120,
      stops: [0, 1, 4, 6, 8, 10, 15, 17, 21, 28, 30, 35, 41.5, 48, 54.5, 63.5, 72.5, 79, 82, 100],
      temperatureGauge: [
        { burner: 0, arrow: [0], location: ['left'], position: [{ top: 133.5, left: 169 }] },
        {
          burner: 1,
          arrow: [0, 1],
          location: ['left', 'right'],
          position: [
            { top: 133.5, left: 170 },
            { top: 133.5, left: -9 },
          ],
        },
        { burner: 2, arrow: [1], location: ['right'], position: [{ top: 133.5, left: -8 }] },
        { burner: 3, arrow: [2], location: ['left'], position: [{ top: -44.5, left: 169 }] },
        { burner: 4, arrow: [3], location: ['right'], position: [{ top: -44, left: -8.5 }] },
      ],
    };
  },
  mounted() {
    this.burner = this.id;
    // gsap.registerPlugin(DrawSVGPlugin, InertiaPlugin, Draggable);

    // WATCHERS
    this.$store.watch(
      (state) => {
        return state.status.sync;
      },
      (newVal, oldVal) => {
                this.$store.dispatch('setBurnerStatus', { burner: 0, status: newVal });
                this.$store.dispatch('setBurnerStatus', { burner: 3, status: newVal });
        if(newVal == true){

        }
      },
      {
        deep: true,
        immediate: true,
      }
    );
    this.$store.watch(
      (state) => {
        return state.status.pairing;
      },
      (newVal, oldVal) => {
        if (this.$store.state.mode == 'precision') {
          this.pairing = newVal;
        }
      },
      {
        deep: true,
        immediate: true,
      }
    );

    this.$store.watch(
      (state) => {
        return state.status.paired;
      },
      (newVal, oldVal) => {
        if (newVal && this.pcactivate && this.startBurner) {
          this.startPairedBurner();
        }
      },
      {
        deep: true,
        immediate: true,
      }
    );

    this.$store.watch(
      (state) => {
        return state.status.paired2;
      },
      (newVal, oldVal) => {
        if (newVal && this.pcactivate2 && this.startBurner && !this.paired) {
          this.startPairedBurner();
        }
      },
      {
        deep: true,
        immediate: true,
      }
    );
    this.$store.watch(
      (state) => {
        return state.status['burner' + this.id + 'Pos'];
      },
      (newVal, oldVal) => {
        if (newVal !== oldVal) {
          this.option = newVal;
        }
      },
      {
        deep: true,
        immediate: false,
      }
    );
    this.$store.watch(
      (state) => {
        return state.status['burner' + this.id + 'Temperature'];
      },
      (newVal, oldVal) => {
        if (newVal !== oldVal) {
          this.showValue(newVal);
        }
      },
      {
        deep: true,
        immediate: false,
      }
    );
    this.$store.watch(
      (state) => {
        return state.status['burner' + this.id];
        // return state.activeBurners[this.id];
      },
      ((newVal, oldVal) => {
        if (newVal !== oldVal) {
          this.active = newVal;
        }
      }).bind(this),
      {
        deep: true,
        immediate: true,
      }
    );
  },
  computed: {
    active: {
      get: function() {
        return this.$store.state.status['burner' + this.id];
      },
      set: function(newVal) {
        // this.active = newVal;
        this.startBurner = newVal;
        this.$store.dispatch('setBurnerStatus', { burner: this.id, status: newVal });
      },
    },
  },
  watch: {
    showMarching(newVal, oldVal) {
      this.marchingOn = true;
    },
    pcactivate(newVal, oldVal) {
      if (newVal !== oldVal && newVal) {
        if (this.$store.state.mode == 'precision' && !this.active) {
          this.activateBurners();
          this.activatetransition = true;
        }
      }
    },
    pcactivate2(newVal, oldVal) {
      if (newVal !== oldVal && newVal) {
        if (!this.active) {
          this.activateBurners();
        }
      }
    },
    startBurner(newVal, oldVal) {
      this.targettemperature = 100;
      this.temperatureIndex = 1;
      this.syncCheck();


      //reset burner when turned off
      if (!newVal) {
        this.firstTouch = true;
        this.resetTimeout();
        // gsap.killTweensOf(this.dialLine);
        // gsap.set(this.dialLine, { drawSVG: '0%', percent: 0 });
      }
    },
  },

  methods: {
    activateBurners: function() {
      this.activatetransition = true;
      this.resetTimeout();
      this.tempTrack = setTimeout(
        function() {
          this.activatetransition = false;
        }.bind(this),
        1500
      );
    },
    convertToTemp: function(val) {
      var offsetVal = Math.ceil(400 * (val / 100) + 100);
      return Math.ceil(offsetVal / 5) * 5;
    },
    showValue: function(newVal) {
      const pcCheck = this.$store.state.mode == 'precision';
      const max = pcCheck ? 100 : 21;
      newVal = newVal > max ? max : newVal;
      if (newVal >= 0 && newVal <= max) {
        this.targettemperature = this.convertToTemp(newVal);
        if (!this.running) {
          this.running = true;
          this.pulseTemp(-1);
        }
        this.temperatureIndex = newVal;
        if (this.synced && this.isSynced()) {
          this.$store.dispatch('setStatus', {
            target: 'burner' + this.syncedBurner + 'Temperature',
            status: this.temperatureIndex,
          });
        }
        this.timeoutCheck();
      }
    },
    startPairedBurner: function() {
      this.ready = true;
      this.paired = true;
      this.$store.dispatch('setStatus', {
        target: 'burner' + this.id + 'Temperature',
        status: 0,
      });

      // this.showValue(0);
      // this.temperatureIndex = 0;
    },
    increaseTemp: function() {
      if (this.startBurner && !this.pairing) {
        window.SoundPlayer.playSound('Touch');
        this.$store.dispatch('setStatus', {
          target: 'burner' + this.id + 'Temperature',
          status: (this.temperatureIndex += 1),
        });
      }
    },
    decreaseTemp: function() {
      if (this.startBurner && !this.pairing) {
        window.SoundPlayer.playSound('Touch');
        if (this.temperatureIndex - 1 >= 0) {
          this.$store.dispatch('setStatus', {
            target: 'burner' + this.id + 'Temperature',
            status: (this.temperatureIndex -= 1),
          });
        }
      }
    },
    resetTimeout: function() {
      if (this.tempTrack !== null) clearTimeout(this.tempTrack);
    },
    timeoutCheck: function() {
      this.resetTimeout();
      this.tempTrack = setTimeout(this.startHeating.bind(this), 4000);
    },
    startHeating: function() {
      this.heating = true;

      if (this.$store.getters.isActive('paired') && !this.$store.getters.isActive('paired2')) {
        this.pairPhase = 1;
        this.$store.dispatch('setStatus', {
          target: 'heating',
          status: true,
        });
        this.$store.dispatch('setStatus', {
          target: 'heated',
          status: false,
        });
      }
      if (this.$store.getters.isActive('paired2')) {
        this.pairPhase = 2;
        this.$store.dispatch('setStatus', {
          target: 'heating2',
          status: true,
        });
        this.$store.dispatch('setStatus', {
          target: 'heated2',
          status: false,
        });
      }
      // this.$store.dispatch('setStatus', { target: 'burner' + this.id + 'Temperature', status: this.targettemperature });
      this.killPulse();
      this.running = false;
      this.tempTrack = setTimeout(this.stopHeating.bind(this), 6000);
    },
    stopHeating: function() {
      this.heating = false;
      if (this.$store.getters.isActive('paired') && this.pairPhase == 1) {
        this.$store.dispatch('setStatus', {
          target: 'heating',
          status: false,
        });
        this.$store.dispatch('setStatus', {
          target: 'heated',
          status: true,
        });
      }
      if (this.$store.getters.isActive('paired2') && this.pairPhase == 2) {
        this.$store.dispatch('setStatus', {
          target: 'heating2',
          status: false,
        });
        this.$store.dispatch('setStatus', {
          target: 'heated2',
          status: true,
        });
      }
    },
    burnerCheck: function() {
      // console.log('activeburners', this.$store.getters.getActiveBurners);

      // checking for bluetooth pairing
      if (
        (this.pcactivate && !this.$store.getters.isActive('paired')) ||
        (this.pcactivate2 && !this.$store.getters.isActive('paired2'))
      ) {
        this.$store.dispatch('setStatus', { target: 'pairing', status: true });
      }

      const activeBurns = this.$store.getters.getActiveBurners;
      //check for precision cooking and number of active burners
      if (activeBurns.length == 2) {
        if (activeBurns.indexOf(1) > -1 && activeBurns.indexOf(2) > -1) {
          this.$store.dispatch('setStatus', { target: 'burner1Pos', status: 1 });
        }
      }

      if (activeBurns.length > 2 && this.$store.getters.isActive('precision')) {
        this.$store.dispatch('setBurnerStatus', { burner: activeBurns[0], status: false });
      }
      if (this.$store.getters.isActive('precision') && this.$store.getters.isActive('paired')) {
        this.ready = true;
      }
      this.syncCheck();
    },
    syncCheck: function(){

      if (this.isSynced() && (this.id == 0 || this.id == 3)) {
        this.syncedBurner = this.id == 0 ? 3 : 0;
        this.synced = true;
        
        // if(this.userInit){
        //   this.$store.dispatch('setBurnerStatus', { burner: this.syncedBurner, status: this.active });
        // }
      }
    },
    isSynced: function(){
      return this.$store.getters.isActive('sync');
    },
    togglePower: function() {
      if(this.$store.getters.isActive('lockall')) return;
      
      window.SoundPlayer.playSound('Touch');
      this.userInit = true;
      this.active = !this.active;
      this.burnerCheck();
    },
    pulseTemp: function(repeat) {
      this.isBlinking = true;
      // this.tempTrack = new TimelineMax({ repeat: repeat, repeatDelay: 0.25 });
      // this.tempTrack
      //   .set('#burner' + this.id + ' .temperature', { opacity: 1 }, 0)
      //   .set('#burner' + this.id + ' .temperature', { opacity: 0 }, 1.0)
      //   .set('#burner' + this.id + ' .temperature', { opacity: 1 }, 1.5);
      // this.tempTrack.timeScale(1.4);
    },
    killPulse: function() {
      this.isBlinking = false;
      // gsap.killTweensOf('.temperature');
      // gsap.set('.temperature', { opacity: 1 });
    },
  },
};
</script>

<style lang="scss" scoped>
.burner {
  position: absolute;
  // background: #000;
}
.blocker {
  user-select: none;
  position: absolute;
  top: 25px;
  left: 62px;
  transform-origin: center;
  width: 104px;
  height: 104px;
  border-radius: 80px;
}
.powerButton {
  position: absolute;
  top: 128px;
  left: 96.5px;
}
.lowlabel {
  top: 130px;
  left: 63px;
}
.highlabel {
  top: 137px;
  left: 142px;
}
#temperatureUp {
  position: absolute;
  top: 49px;
  left: 98px;
}
#temperatureDown {
  position: absolute;
  top: 91px;
  left: 98px;
}
.ring-size {
  z-index: 9999;
}
</style>
