<template>
  <div
    class="TL burner-buttons"
    v-show="active || pctransition"
    :style="{ top: position.top + 'px', left: position.left + 'px' }"
  >
    <keep-alive>
      <svg xmlns="http://www.w3.org/2000/svg" id="dialsvg" width="151.2" height="129.6" overflow="visible">
        <g id="art">
          <path class="red" d="M37 113.3l-9.6 9.6c.3.4.7.7 1.1 1.1l9.6-9.6-1.1-1.1z" id="burnbtnart1" />
          <path
            class="red"
            d="M32.8 108.4l-10.6 8.4c.3.4.7.9 1 1.3l10.6-8.4c-.3-.4-.7-.8-1-1.3z"
            id="burnbtnart2"
            v-show="inRange(2)"
          />
          <path
            class="red"
            d="M29.3 103.3l-11.5 7.1c.3.5.6 1 1 1.5l11.5-7.1c-.4-.5-.7-1-1-1.5z"
            id="burnbtnart3"
            v-show="inRange(3)"
          />
          <path
            class="red"
            d="M26.5 97.9l-12.2 5.8c.3.6.5 1.2.8 1.8l12.2-5.8c-.3-.7-.6-1.2-.8-1.8z"
            id="burnbtnart4"
            v-show="inRange(4)"
          />
          <path
            class="red"
            d="M24.3 92.2l-12.8 4.4c.2.7.4 1.3.7 2L25 94.2c-.3-.7-.5-1.3-.7-2z"
            id="burnbtnart5"
            v-show="inRange(5)"
          />
          <path
            class="red"
            d="M22.7 86.3l-13.2 3c.2.7.3 1.5.5 2.2l13.2-2.9c-.2-.8-.3-1.5-.5-2.3z"
            id="burnbtnart6"
            v-show="inRange(6)"
          />
          <path
            class="red"
            d="M21.9 80.4L8.4 81.8l.3 2.4 13.4-1.5c-.1-.7-.2-1.5-.2-2.3z"
            id="burnbtnart7"
            v-show="inRange(7)"
          />
          <path class="red" d="M21.6 75.6v-1.3H8.1v2.6h13.5c.1-.4 0-.8 0-1.3z" id="burnbtnart8" v-show="inRange(8)" />
          <g id="burnbtnart9" v-show="inRange(9)">
            <path
              class="red"
              d="M22.1 68.4L8.7 66.9l-.3 2.7 13.4 1.5.3-2.7zM23.3 62.5l-13.2-2.9c-.2.9-.4 1.9-.6 2.8l13.2 2.9c.1-1 .3-1.9.6-2.8z"
            />
          </g>
          <g id="burnbtnart10" v-show="inRange(10)">
            <path
              class="red"
              d="M25.1 56.7l-12.8-4.4c-.4 1-.7 1.9-1 2.9l12.8 4.4c.3-1 .6-1.9 1-2.9zM27.6 51.1l-12.2-5.8c-.5 1-.9 1.9-1.4 2.9L26.2 54c.4-.9.9-1.9 1.4-2.9z"
            />
          </g>
          <path
            class="red"
            d="M30.6 45.8l-11.5-7.1c-.6.9-1.2 1.9-1.8 2.9l11.5 7.1c.6-1 1.2-1.9 1.8-2.9z"
            id="burnbtnart11"
            v-show="inRange(11)"
          />
          <path
            class="red"
            d="M34.4 40.8l-10.6-8.4c-.7.9-1.5 1.8-2.2 2.8l10.6 8.4c.7-.9 1.4-1.9 2.2-2.8z"
            id="burnbtnart12"
            v-show="inRange(12)"
          />
          <path
            class="red"
            d="M38.8 36.2l-9.6-9.6c-.9.8-1.8 1.7-2.6 2.6l9.6 9.6c.8-.9 1.7-1.7 2.6-2.6z"
            id="burnbtnart13"
            v-show="inRange(13)"
          />
          <path class="red" d="M43.7 32.1l-8.4-10.6-3 2.4 8.4 10.6 3-2.4z" id="burnbtnart14" v-show="inRange(14)" />
          <g id="burnbtnart15" v-show="inRange(15)">
            <path
              class="red"
              d="M48.9 28.7l-7.1-11.5c-1.1.7-2.3 1.4-3.4 2.1l7.1 11.5c1.1-.7 2.3-1.4 3.4-2.1zM54.4 26l-5.8-12.2c-1.3.6-2.5 1.1-3.7 1.8l5.8 12.2c1.2-.7 2.4-1.3 3.7-1.8zM60.1 23.9l-4.4-12.8c-1.4.4-2.7.9-4.1 1.4L56 25.3c1.4-.5 2.8-1 4.1-1.4z"
            />
          </g>
          <g id="burnbtnart16" v-show="inRange(16)">
            <path
              class="red"
              d="M66 22.5L63.1 9.3c-1.5.3-2.9.6-4.3.9l2.9 13.2c1.4-.3 2.8-.6 4.3-.9zM72 21.8L70.5 8.4c-1.5.1-3 .2-4.5.4l1.5 13.4c1.4-.2 2.9-.3 4.5-.4zM75.6 21.6c.8 0 1.6 0 2.4.1V8.2c-.8 0-1.6-.1-2.4-.1-.8 0-1.6 0-2.4.1v13.5c.8 0 1.6-.1 2.4-.1z"
            />
          </g>
          <g id="burnbtnart17" v-show="inRange(17)">
            <path class="red" d="M84 22.3l1.5-13.4c-1.6-.2-3.2-.4-4.9-.5l-1.5 13.4c1.7.1 3.3.2 4.9.5z" />
            <path class="red" d="M89.9 23.6l2.9-13.2c-1.6-.4-3.3-.8-4.9-1.1L85 22.5c1.6.2 3.3.6 4.9 1.1z" />
            <path class="red" d="M95.6 25.5l4.4-12.8c-1.6-.6-3.3-1.2-4.9-1.7l-4.4 12.8c1.6.5 3.3 1 4.9 1.7z" />
          </g>
          <g id="burnbtnart18" v-show="inRange(18)">
            <path
              class="red"
              d="M101.1 28l5.8-12.2c-1.6-.8-3.2-1.6-4.8-2.3l-5.8 12.2c1.6.7 3.2 1.5 4.8 2.3zM106.4 31.3l7.2-11.5c-1.5-1-3.1-2-4.7-2.9l-7.1 11.5c1.5.8 3 1.8 4.6 2.9zM111.3 35.1l8.4-10.6c-1.4-1.2-2.9-2.4-4.5-3.5l-8.4 10.6c1.6 1.1 3 2.2 4.5 3.5zM115.8 39.6l9.6-9.6c-1.3-1.4-2.7-2.8-4.1-4.1l-9.6 9.6c1.4 1.3 2.8 2.6 4.1 4.1z"
            />
          </g>
          <g id="burnbtnart19" v-show="inRange(19)">
            <path
              class="red"
              d="M119.8 44.6l10.6-8.4c-1.2-1.6-2.4-3.2-3.7-4.7l-10.6 8.4c1.3 1.5 2.5 3 3.7 4.7zM123 49.7l1.2-.6 10.4-6.4c-1-1.8-2.1-3.5-3.2-5.2l-11.5 7.1c1.1 1.7 2.1 3.4 3.1 5.1zM123.1 49.9c.9 1.7 1.7 3.4 2.5 5.2l3.1-1.1 9.3-4.3c-.8-1.9-1.7-3.8-2.7-5.7l-11 5.2-1.2.7zM125.7 55.4c.7 1.7 1.3 3.4 1.8 5.2l5-1.1 8-2.7c-.6-2.1-1.3-4.1-2.1-6.1l-9.7 3.3-3 1.4z"
            />
            <path
              class="red"
              d="M127.5 60.6c.1.2.1.4.2.5l4.8-1.6-5 1.1zM123 49.7l.1.1 1.1-.7-1.2.6zM125.6 55.1c0 .1.1.2.1.3l3-1.4-3.1 1.1z"
            />
          </g>
          <g id="burnbtnart20" v-show="inRange(20)">
            <path
              class="red"
              d="M127.7 61.2c.5 1.7.9 3.4 1.2 5.2l6.7-.7 6.6-1.4c-.4-2.2-.9-4.3-1.4-6.4l-8.2 1.8-4.9 1.5z"
            />
            <path
              class="red"
              d="M129 67.1c.3 1.7.5 3.4.6 5.1h8.3l5.2-.6c-.1-2.3-.4-4.5-.7-6.7l-6.7.7-6.7 1.5zM128.8 66.3c0 .2.1.5.1.7l6.6-1.5-6.7.8zM129.6 73.1c0 .9.1 1.7.1 2.6 0 .8 0 1.6-.1 2.4l9.7 1.1h3.8c.1-1.1.1-2.3.1-3.5 0-1.2 0-2.3-.1-3.4h-5.2l-8.3.8z"
            />
            <path
              class="red"
              d="M129.5 72.2c0 .3 0 .6.1.9l8.3-.9h-8.4zM129.5 79.1c-.1 1.6-.3 3.2-.5 4.8l10.7 2.4 2.5.3c.4-2.3.6-4.7.8-7l-3.7-.4-9.8-.1zM129.5 79.1h9.8l-9.7-1.1c0 .4 0 .7-.1 1.1z"
            />
            <path class="red" d="M139.8 86.3L129 83.9c-.1.4-.1.8-.2 1.2l11 1.2z" />
          </g>
          <g id="burnbtnart21" v-show="inRange(21)">
            <path
              class="red"
              d="M127.4 90.9c-.4 1.5-.9 2.9-1.5 4.3l11.7 5.6.5.2c.9-2.3 1.7-4.6 2.4-7l-1.3-.5-11.8-2.6z"
            />
            <path
              class="red"
              d="M139.3 93.6l-11.5-3.9c-.1.4-.2.9-.4 1.3l11.9 2.6zM125.4 96.6c-.6 1.4-1.2 2.8-2 4.1l11.5 7.2c1.2-2.2 2.3-4.5 3.2-6.8l-.5-.2-12.2-4.3zM137.7 100.8L126 95.2c-.2.5-.3.9-.5 1.4l12.2 4.2z"
            />
            <path
              class="red"
              d="M120.3 105.9l10.6 8.4c1.5-2.1 2.8-4.2 4-6.5l-12.2-5.8c-.7 1.4-1.5 2.7-2.4 3.9zM135 107.9z"
            />
            <path
              class="red"
              d="M135 107.9l-11.5-7.2c-.2.5-.5.9-.7 1.4l12.2 5.8zM116.5 110.8l9.6 9.6c1.7-1.9 3.3-4 4.8-6.1l-11.5-7.2c-.9 1.4-1.9 2.6-2.9 3.7z"
            />
            <path
              class="red"
              d="M119.4 107.2l11.5 7.2-10.6-8.4-.9 1.2zM126.1 120.5l-10.6-8.4c-.5.6-1.1 1.2-1.7 1.7l9.6 9.6c.9-1 1.8-1.9 2.7-2.9z"
            />
            <path
              class="red"
              d="M115.5 112.1l10.6 8.4-9.6-9.6c-.3.4-.7.8-1 1.2zM128.8 85c-.3 1.5-.6 3.1-1 4.6l11.5 3.9 1.4.3c.6-2.3 1.2-4.7 1.6-7.1l-2.4-.5-11.1-1.2z"
            />
          </g>
        </g>
        <g
          @touchmove.prevent="onMove"
          @touchstart.prevent="onMove"
          @mousedown="onMouseDown"
          @mouseup="onMouseUp"
          @mousemove="onMouseMove"
          id="btns"
        >
          <path data-stop="1" id="bn1" d="M33 100c1.7 2.5 3.6 4.8 5.7 7l-17.8 17.4c-3.2-3.2-6-6.8-8.6-10.5L33 100z" />
          <path
            data-stop="3"
            id="bn2"
            d="M28.6 91.7c1.1 2.8 2.5 5.4 4.2 7.9L12 113.2c-2.5-3.8-4.6-7.8-6.4-12l23-9.5z"
          />
          <path
            data-stop="4"
            id="bn3"
            d="M25.8 82.6c.6 2.9 1.4 5.8 2.6 8.6l-23.1 9.3c-1.7-4.2-3-8.6-3.9-13l24.4-4.9z"
          />
          <path data-stop="6" id="bn4" d="M24.9 73.2c0 3 .3 6 .8 8.9L1.3 86.7C.4 82.2 0 77.7 0 73.2h24.9z" />
          <path data-stop="8" id="bn5" d="M25.8 63.8c-.6 2.9-.9 5.9-.9 8.9L0 72.4c0-4.5.5-9 1.4-13.5l24.4 4.9z" />
          <path data-stop="10" id="bn6" d="M28.6 54.7c-1.1 2.8-2 5.6-2.6 8.5l-24.4-5c.9-4.4 2.3-8.8 4-13l23 9.5z" />
          <path
            data-stop="12"
            id="bn7"
            d="M33 46.4c-1.7 2.5-3.1 5.1-4.3 7.9L5.9 44.5c1.8-4.2 4-8.2 6.5-11.9L33 46.4z"
          />
          <path
            data-stop="14"
            id="bn8"
            d="M39.1 39.1c-2.1 2.1-4 4.4-5.7 6.9L12.8 31.9c2.6-3.7 5.5-7.2 8.7-10.4l17.6 17.6z"
          />
          <path data-stop="15" id="bn9" d="M46.4 33c-2.5 1.7-4.8 3.6-7 5.7L22 20.9c3.2-3.2 6.8-6 10.5-8.6L46.4 33z" />
          <path
            data-stop="15"
            id="bn10"
            d="M54.7 28.6c-2.8 1.1-5.4 2.5-7.9 4.2L33.2 11.9c3.8-2.5 7.8-4.6 12-6.4l9.5 23.1z"
          />
          <path
            data-stop="16"
            id="bn11"
            d="M63.8 25.8c-2.9.6-5.8 1.4-8.6 2.6L45.9 5.3c4.2-1.7 8.6-3 13-3.9l4.9 24.4z"
          />
          <path data-stop="16" id="bn12" d="M73.2 24.9c-3 0-6 .3-8.9.8L59.7 1.3C64.2.5 68.7 0 73.2 0v24.9z" />
          <path data-stop="17" id="bn13" d="M82.6 25.8c-2.9-.6-5.9-.9-8.9-.9L74 0c4.5 0 9 .5 13.5 1.4l-4.9 24.4z" />
          <path data-stop="17" id="bn14" d="M91.7 28.6c-2.8-1.1-5.6-2-8.5-2.6l5.1-24.4c4.4.9 8.8 2.3 13 4l-9.6 23z" />
          <path data-stop="18" id="bn15" d="M100 33c-2.5-1.7-5.1-3.1-7.9-4.3l9.8-22.9c4.2 1.8 8.2 4 11.9 6.5L100 33z" />
          <path
            data-stop="18"
            id="bn16"
            d="M107.3 39.1c-2.1-2.1-4.4-4-6.9-5.7l14.1-20.6c3.7 2.6 7.2 5.5 10.4 8.7l-17.6 17.6z"
          />
          <path
            data-stop="19"
            id="bn17"
            d="M113.3 46.4c-1.7-2.5-3.6-4.8-5.7-7L125.5 22c3.2 3.2 6 6.8 8.6 10.5l-20.8 13.9z"
          />
          <path
            data-stop="19"
            id="bn18"
            d="M117.8 54.7c-1.1-2.8-2.5-5.4-4.2-7.9l20.8-13.6c2.5 3.8 4.6 7.8 6.4 12l-23 9.5z"
          />
          <path
            data-stop="19"
            id="bn19"
            d="M120.5 63.8c-.6-2.9-1.4-5.8-2.6-8.6l23.1-9.3c1.7 4.2 3 8.6 3.9 13l-24.4 4.9z"
          />
          <path data-stop="20" id="bn20" d="M121.5 73.2c0-3-.3-6-.8-8.9l24.5-4.6c.8 4.5 1.3 9 1.3 13.5h-25z" />
          <path data-stop="21" id="bn21" d="M120.5 82.6c.6-2.9.9-5.9.9-8.9l24.9.3c0 4.5-.5 9-1.4 13.5l-24.4-4.9z" />
          <path data-stop="21" id="bn22" d="M117.8 91.7c1.1-2.8 2-5.6 2.6-8.5l24.4 5.1c-.9 4.4-2.3 8.8-4 13l-23-9.6z" />
          <path
            data-stop="21"
            id="bn23"
            d="M113.3 100c1.7-2.5 3.1-5.1 4.3-7.9l22.9 9.8c-1.8 4.2-4 8.2-6.5 11.9L113.3 100z"
          />
          <path
            data-stop="21"
            id="bn24"
            d="M107.3 107.3c2.1-2.1 4-4.4 5.7-6.9l20.6 14.1c-2.6 3.7-5.5 7.2-8.7 10.4l-17.6-17.6z"
          />
        </g>
      </svg>
    </keep-alive>
  </div>
</template>

<script>
import { gsap } from 'gsap/all';

export default {
  name: 'burnerButtons',
  props: {
    active: {
      type: Boolean,
      default: false,
    },
    id: {
      type: Number,
      required: true,
    },
    position: {
      type: Object,
      required: true,
    },
    pairing: Boolean,
    pcactivate: Boolean,
    pcactivate2: Boolean,
  },
  data() {
    return {
      userinit: false,
      pctransition: false,
      transitionFlag: false,
      moused: false,
      max: 21,
      current: 0,
      transition: 0,
      laststatus: '',
      drag: null,
      adjusting: false,
      maxRotation: 270,
      rotationOffset: -130,
    };
  },
  watch: {
    active: function(newVal, oldVal) {
      if (newVal !== oldVal && newVal) {
        this.burnerActive();
      }
    },
    pcactivate: function(newVal, oldVal) {
      if (newVal && !this.active) {
        this.pctransition = newVal;
        this.pcActivate();
      }
    },
    pcactivate2: function(newVal, oldVal) {
      if (newVal && !this.active) {
        this.pctransition = newVal;
        this.pcActivate();
      }
    },
  },
  methods: {
    findElement: function(nodes) {
      var out = null;
      nodes.forEach(function(v, i) {
        let el = v.id;
        if (el) {
          if (el.indexOf('bn') >= 0) {
            // console.log(el);
            out = Number(v.dataset.stop);
          }
        }
      });
      return out;
    },
    isSynced: function(){
      return this.$store.getters.isActive('sync');
    },
    onMove: function(evt) {
      if (evt.changedTouches) {
        let stop = this.findElement(
          document.elementsFromPoint(evt.changedTouches[0].clientX, evt.changedTouches[0].clientY)
        );
        if (stop !== null) {
          this.setRange(stop);
        }
      }
    },
    onMouseDown: function() {
      this.moused = true;
    },
    onMouseUp: function() {
      this.moused = false;
    },
    onMouseMove: function(evt) {
      if (this.moused) {
        let stop = this.findElement(document.elementsFromPoint(evt.clientX, evt.clientY));
        if (stop !== null) {
          this.setRange(stop);
        }
      }
    },
    setRange: function(val) {
      if (!this.active || this.pairing) return;
      this.current = val;
      if (this.$store.state.mode == 'precision') {
        var newVal = Math.floor((this.current / this.max) * 100);
        this.$store.dispatch('setStatus', { target: 'burner' + this.id + 'Temperature', status: newVal });
      } else {
        this.$store.dispatch('setStatus', { target: 'burner' + this.id + 'Temperature', status: this.current });
      }
    },
    inRange: function(val) {
      return this.transitionFlag ? val <= this.transition : val <= this.current;
    },
    burnerActive: function() {
      this.transition = 0;
      this.transitionFlag = true;
      this.current = this.isSynced() ? 0 : this.max;

      if (this.$store.state.mode == 'ring') {
        this.transitionFlag = false;
      } else {
        var range = { val: 1 };
        gsap.to(range, 0.75, {
          val: this.max,
          roundProps: 'val',
          yoyo: this.isSynced() ? true : false,
          repeat: this.isSynced() ? 1 : 0,
          onUpdate: function() {
            this.transition = range.val;
          }.bind(this),
          onComplete: function() {
            this.transitionFlag = false;
          }.bind(this),
        });
      }
    },
    pcActivate: function() {
      this.transitionFlag = true;
      var range = { val: 1 };
      gsap.to(range, 0.75, {
        val: this.max,
        yoyo: true,
        repeat: 1,
        roundProps: 'val',
        onUpdate: function() {
          this.transition = range.val;
        }.bind(this),
        onComplete: function() {
          this.transitionFlag = false;
          this.pctransition = false;
        }.bind(this),
      });
    },
  },
  computed: {},
  mounted() {
    // WATCHERS
    this.$store.watch(
      (state) => {
        return state.status['burner' + this.id + 'Temperature'];
      },
      (newVal, oldVal) => {
        var pcCheck = this.$store.state.mode == 'precision';
        this.current = pcCheck ? Math.floor((newVal / 100) * this.max) : Math.min(Math.max(1, newVal), this.max);
      },
      {
        deep: true,
        immediate: true,
      }
    );
  },
};
</script>
<style lang="scss" scoped>
svg {
  #art {
    user-select: none;
    pointer-events: none;
  }
  #btns {
    path {
      opacity: 0;
    }
  }
}
.proxy {
  display: none;
  user-select: none;
  position: absolute;
  top: 0px;
  left: 37px;
  transform-origin: center;
  width: 154px;
  height: 154px;
  border-radius: 80px;

  //TESTING STYLE
  // border: 2px solid coral;
  // border-radius: 40px;
}
</style>
