<template>
  <div class="TL button-panel" :style="{ top: position.top + 'px', left: position.left + 'px' }">
    <!-- <div v-if="active" class="TL temperature-guage" :style="{ top: position.top + 'px', left: position.left + 'px' }"> -->
    <svg xmlns="http://www.w3.org/2000/svg" width="406.5" height="42.9" overflow="visible">
      <g id="allOff_bn" @click="allOffClicked">
        <path id="Wifi_Connect_dark_grey_12_" d="M355 14.5h51.5v28.2H355z" />
        <g id="All_Off">
          <path
            class="lt_grey"
            d="M366.6 31.9l2.4-6.7h1.1l2.4 6.7h-1.2l-.5-1.6h-2.5l-.5 1.6h-1.2zm1.9-2.6h1.9l-.9-2.7-1 2.7zm5.1 2.6v-6.7h1.1v6.7h-1.1zm2.8 0v-6.7h1.1v6.7h-1.1zm5.2-3.4c0-2.2 1.3-3.5 3-3.5s3 1.2 3 3.5-1.3 3.5-3 3.5c-1.6 0-3-1.2-3-3.5zm4.9 0c0-1.6-.7-2.4-1.9-2.4-1.1 0-1.9.9-1.9 2.4s.7 2.4 1.9 2.4c1.2.1 1.9-.8 1.9-2.4zm3 3.4V28h-.8v-.9h.8v-.5c0-.8.4-1.4 1.4-1.4h.6v.8h-.3c-.4 0-.6.2-.6.6v.4h1.7v-.4c0-.8.3-1.5 1.5-1.5h.7v.9h-.4c-.4 0-.7.1-.7.6v.4h1v1h-1v3.9h-1.1V28h-1.7v3.9h-1.1z"
          />
          <path class="lt_grey" d="M406 42.6h-51V14.5h51v28.1zm-50.1-.9h49.2V15.4h-49.2v26.3z" />
        </g>
      </g>
      <g id="lockControls_bn" @long-press-start="lockToggle" v-long-press="5000">
        <path id="Wifi_Connect_dark_grey_11_" d="M254.3 10.9h48.3v32h-48.3z" />
        <g id="Lock_Controls_Light_grey">
          <path
            class="lt_grey"
            d="M268.9 24.1v-6.7h1.1V23h3.1v1h-4.2zM273.5 21.7c0-1.8 1.2-2.5 2.3-2.5 1.2 0 2.3.7 2.3 2.5 0 1.7-1.2 2.5-2.3 2.5s-2.3-.7-2.3-2.5zm3.5 0c0-.9-.4-1.5-1.2-1.5-.8 0-1.2.6-1.2 1.5s.4 1.6 1.2 1.6c.8 0 1.2-.6 1.2-1.6zM278.9 21.7c0-1.8 1.2-2.5 2.3-2.5 1.2 0 1.7.7 2 1.4l-.9.3c-.2-.5-.5-.8-1.1-.8-.6 0-1.2.4-1.2 1.6 0 1 .4 1.6 1.1 1.6.5 0 .9-.2 1.1-.8l.9.3c-.3.8-.9 1.4-2.1 1.4-1 0-2.1-.7-2.1-2.5zM284 24.1v-6.7h1.1v4l1.8-2.1h1.2l-1.6 1.7 1.7 3H287l-1.2-2.2-.8.8V24h-1zM260.3 31.8c0-2.2 1.3-3.4 2.9-3.4 1.5 0 2.3.9 2.6 2.1l-1.1.3c-.3-.9-.6-1.3-1.5-1.3-1.1 0-1.8.9-1.8 2.4 0 1.6.7 2.5 1.8 2.5.9 0 1.4-.4 1.6-1.4l1.1.2c-.3 1.3-1.1 2.2-2.7 2.2-1.7-.1-2.9-1.3-2.9-3.6zM266.6 32.7c0-1.8 1.2-2.5 2.3-2.5 1.2 0 2.3.7 2.3 2.5 0 1.7-1.2 2.5-2.3 2.5s-2.3-.7-2.3-2.5zm3.6 0c0-.9-.4-1.5-1.2-1.5-.8 0-1.2.6-1.2 1.5s.4 1.6 1.2 1.6c.7 0 1.2-.6 1.2-1.6zM272.3 35.1v-4.8h1.1v.8c.4-.4.9-.9 1.7-.9.9 0 1.4.5 1.4 1.4v3.5h-1.1V32c0-.5-.2-.8-.7-.8-.5 0-.9.2-1.3.6v3.3h-1.1zM278.1 33.9v-2.6h-.8v-.9h.8v-1.7h1.1v1.7h1.2v.9h-1.2v2.4c0 .5.2.7.7.7.2 0 .4 0 .5-.1v.9c-.1 0-.5.1-.8.1-1.3-.1-1.5-.6-1.5-1.4zM281.3 35.1v-4.8h1.1v.8c.3-.5.8-.9 1.7-.9h.1v1h-.3c-.7 0-1.2.3-1.5.8v3h-1.1zM284.6 32.7c0-1.8 1.2-2.5 2.3-2.5 1.2 0 2.3.7 2.3 2.5 0 1.7-1.2 2.5-2.3 2.5s-2.3-.7-2.3-2.5zm3.5 0c0-.9-.4-1.5-1.2-1.5-.8 0-1.2.6-1.2 1.5s.4 1.6 1.2 1.6c.8 0 1.2-.6 1.2-1.6zM290.2 35.1v-6.7h1.1v6.7h-1.1zM292.3 34.5l.6-.7c.4.3.9.6 1.5.6s1-.2 1-.5c0-.4-.5-.5-1.1-.6-.8-.2-1.8-.4-1.8-1.5 0-.8.7-1.4 1.8-1.4.9 0 1.5.3 2 .7l-.5.7c-.4-.3-.9-.5-1.4-.5-.6 0-.8.2-.8.5 0 .4.5.5 1 .6.8.2 1.8.4 1.8 1.5 0 1-.9 1.5-2 1.5-.9-.2-1.7-.5-2.1-.9z"
          />
        </g>
        <path id="Lock_Controls_bar" class="grey" d="M254.2 41.4h48.3v1.5h-48.3z" />
      </g>
      <path
        v-show="lockall"
        id="lockControls_status"
        d="M281.4 5.1h-.2V2.7c0-1.5-1.2-2.7-2.7-2.7h-.4c-1.5 0-2.7 1.2-2.7 2.7v2.4h-.2c-.4 0-.7.3-.7.7v4.4c0 .4.3.7.7.7h6.2c.4 0 .7-.3.7-.7V5.8c0-.4-.3-.7-.7-.7m-1.4 0h-3.5V2.7c0-.8.7-1.5 1.5-1.5h.4c.8 0 1.5.7 1.5 1.5v2.4z"
        fill="#ec2024"
      />
      <g id="wifiConnect_bn" @click="wifiToggle">
        <path id="Wifi_Connect_dark_grey_10_" d="M0 10.9h48.3v32H0z" />
        <g id="Wifi_Connect_Light_grey">
          <path
            class="lt_grey"
            d="M16.9 24.8l-1.8-6.7h1.1l.8 3.4c.1.5.3 1 .4 1.5l.3-1.5.8-3.5h1.1l.8 3.5c.1.6.3 1 .4 1.5.1-.6.2-.9.3-1.5l.8-3.5H23l-1.8 6.7h-1L19 19.6l-1.3 5.1h-.8zM24 19.2v-1h1.1v1H24zm0 5.6V20h1.1v4.8H24zM26.5 24.8v-6.7h4.2v1h-3.1V21h2.2v1h-2.2v2.8h-1.1zM31.6 19.2v-1h1.1v1h-1.1zm0 5.6V20h1.1v4.8h-1.1zM6.5 32.5c0-2.2 1.3-3.4 2.9-3.4 1.5 0 2.3.9 2.6 2.1l-1.1.3c-.3-.9-.6-1.3-1.5-1.3-1.1 0-1.8.9-1.8 2.4 0 1.6.7 2.5 1.8 2.5.9 0 1.4-.4 1.6-1.4l1.1.2C11.8 35.1 11 36 9.4 36c-1.7 0-2.9-1.2-2.9-3.5zM12.8 33.4c0-1.8 1.2-2.5 2.3-2.5 1.2 0 2.3.7 2.3 2.5 0 1.7-1.2 2.5-2.3 2.5s-2.3-.7-2.3-2.5zm3.5 0c0-.9-.4-1.5-1.2-1.5-.8 0-1.2.6-1.2 1.5s.4 1.6 1.2 1.6c.8 0 1.2-.6 1.2-1.6zM18.4 35.8V31h1.1v.8c.4-.4.9-.9 1.7-.9.9 0 1.4.5 1.4 1.4v3.5h-1.1v-3.2c0-.5-.2-.8-.7-.8-.5 0-.9.2-1.3.6v3.3h-1.1zM23.8 35.8V31h1.1v.8c.4-.4.9-.9 1.7-.9.9 0 1.4.5 1.4 1.4v3.5h-1v-3.2c0-.5-.2-.8-.7-.8-.5 0-.9.2-1.3.6v3.3h-1.2zM29 33.4c0-1.8 1.3-2.5 2.3-2.5 1.1 0 2.1.6 2.1 2.6v.3h-3.3c0 .9.6 1.2 1.3 1.2.6 0 1-.2 1.3-.6l.6.6c-.5.5-1.2.9-2 .9-1.2 0-2.3-.7-2.3-2.5zm3.3-.4c-.1-.7-.4-1.1-1.1-1.1-.5 0-1 .3-1.1 1.1h2.2zM34.1 33.4c0-1.8 1.2-2.5 2.3-2.5 1.2 0 1.7.7 2 1.4l-.9.3c-.2-.5-.5-.8-1.1-.8-.6 0-1.2.4-1.2 1.6 0 1 .4 1.6 1.1 1.6.5 0 .9-.2 1.1-.8l.9.3c-.3.8-.9 1.4-2.1 1.4-1 0-2.1-.7-2.1-2.5zM39.6 34.6V32h-.8v-1h.8v-1.7h1.1V31H42v.9h-1.2v2.4c0 .5.2.7.7.7.2 0 .4 0 .5-.1v.9c-.1 0-.5.1-.8.1-1.3 0-1.6-.5-1.6-1.3z"
          />
        </g>
        <path id="Wifi_Connect_dark_grey_9_" class="grey" d="M0 41.4h48.3v1.5H0z" />
      </g>
      <g id="bluetoothConnect_bn" @click="btToggle" v-long-press="3000" @long-press-start="btUnpair">
        <path id="Wifi_Connect_dark_grey_8_" d="M100.4 10.9h48.3v32h-48.3z" />
        <path id="Wifi_Connect_dark_grey_7_" d="M100.4 10.9h48.3v32h-48.3z" />
        <g id="Bluetooth_Connect_Light_grey">
          <path
            class="lt_grey"
            d="M104 24.1v-6.7h2.5c1.3 0 2.3.4 2.3 1.7 0 .9-.5 1.4-1.2 1.5.8.2 1.4.6 1.4 1.6 0 1.2-1 1.8-2.4 1.8H104zm1.1-3.8h1.3c.9 0 1.4-.3 1.4-.9 0-.6-.4-.9-1.3-.9h-1.3v1.8zm0 2.9h1.5c1 0 1.4-.3 1.4-1s-.5-1-1.5-1h-1.3v2zM110.2 24.1v-6.7h1.1v6.7h-1.1zM112.6 22.8v-3.4h1.1v3.2c0 .5.2.8.7.8s.9-.3 1.3-.6v-3.3h1.1v4.8h-1.1v-.6c-.3.3-.9.7-1.7.7-.9-.2-1.4-.7-1.4-1.6zM117.8 21.7c0-1.8 1.3-2.5 2.3-2.5 1.1 0 2.1.6 2.1 2.6v.3h-3.3c0 .9.6 1.2 1.3 1.2.6 0 1-.2 1.3-.6l.6.6c-.5.5-1.2.9-2 .9-1.2 0-2.3-.7-2.3-2.5zm3.3-.4c-.1-.7-.4-1.1-1.1-1.1-.5 0-1 .3-1.1 1.1h2.2zM123.5 22.9v-2.6h-.8v-.9h.8v-1.7h1.1v1.7h1.2v.9h-1.2v2.4c0 .5.2.7.7.7.2 0 .4 0 .5-.1v.9c-.1 0-.5.1-.8.1-1.2-.1-1.5-.6-1.5-1.4zM126.4 21.7c0-1.8 1.2-2.5 2.3-2.5 1.2 0 2.3.7 2.3 2.5 0 1.7-1.2 2.5-2.3 2.5s-2.3-.7-2.3-2.5zm3.6 0c0-.9-.4-1.5-1.2-1.5-.8 0-1.2.6-1.2 1.5s.4 1.6 1.2 1.6c.8 0 1.2-.6 1.2-1.6zM131.8 21.7c0-1.8 1.2-2.5 2.3-2.5 1.2 0 2.3.7 2.3 2.5 0 1.7-1.2 2.5-2.3 2.5s-2.3-.7-2.3-2.5zm3.6 0c0-.9-.4-1.5-1.2-1.5-.8 0-1.2.6-1.2 1.5s.4 1.6 1.2 1.6c.7 0 1.2-.6 1.2-1.6zM137.8 22.9v-2.6h-.8v-.9h.8v-1.7h1.1v1.7h1.2v.9h-1.2v2.4c0 .5.2.7.7.7.2 0 .4 0 .5-.1v.9c-.1 0-.5.1-.8.1-1.2-.1-1.5-.6-1.5-1.4zM141.1 24.1v-6.7h1.1V20c.3-.3.9-.7 1.7-.7.8 0 1.4.5 1.4 1.4v3.4h-1.1V21c0-.5-.2-.8-.7-.8s-.9.3-1.3.6v3.3h-1.1zM106.9 31.8c0-2.2 1.3-3.4 2.9-3.4 1.5 0 2.3.9 2.6 2.1l-1.1.3c-.3-.9-.6-1.3-1.5-1.3-1.1 0-1.8.9-1.8 2.4 0 1.6.7 2.5 1.8 2.5.9 0 1.4-.4 1.6-1.4l1.1.2c-.3 1.3-1.1 2.2-2.7 2.2-1.7-.1-2.9-1.3-2.9-3.6zM113.2 32.7c0-1.8 1.2-2.5 2.3-2.5 1.2 0 2.3.7 2.3 2.5 0 1.7-1.2 2.5-2.3 2.5-1.2 0-2.3-.7-2.3-2.5zm3.5 0c0-.9-.4-1.5-1.2-1.5-.8 0-1.2.6-1.2 1.5s.4 1.6 1.2 1.6c.8 0 1.2-.6 1.2-1.6zM118.8 35.1v-4.8h1.1v.8c.4-.4.9-.9 1.7-.9.9 0 1.4.5 1.4 1.4v3.5h-1.1V32c0-.5-.2-.8-.7-.8-.5 0-.9.2-1.3.6v3.3h-1.1zM124.2 35.1v-4.8h1.1v.8c.4-.4.9-.9 1.7-.9.9 0 1.4.5 1.4 1.4v3.5h-1.1V32c0-.5-.2-.8-.7-.8-.5 0-.9.2-1.3.6v3.3h-1.1zM129.4 32.7c0-1.8 1.3-2.5 2.3-2.5 1.1 0 2.1.6 2.1 2.6v.3h-3.3c0 .9.6 1.2 1.3 1.2.6 0 1-.2 1.3-.6l.6.6c-.5.5-1.2.9-2 .9-1.2 0-2.3-.7-2.3-2.5zm3.4-.4c-.1-.7-.4-1.1-1.1-1.1-.5 0-1 .3-1.1 1.1h2.2zM134.5 32.7c0-1.8 1.2-2.5 2.3-2.5 1.2 0 1.7.7 2 1.4l-.9.3c-.2-.5-.5-.8-1.1-.8-.6 0-1.2.4-1.2 1.6 0 1 .4 1.6 1.1 1.6.5 0 .9-.2 1.1-.8l.9.3c-.3.8-.9 1.4-2.1 1.4-1 0-2.1-.7-2.1-2.5zM140 33.9v-2.6h-.8v-.9h.8v-1.7h1.1v1.7h1.2v.9h-1.2v2.4c0 .5.2.7.7.7.2 0 .4 0 .5-.1v.9c-.1 0-.5.1-.8.1-1.2-.1-1.5-.6-1.5-1.4z"
          />
        </g>
        <path id="Bluetooth_Connect_dark_grey" class="grey" d="M100.4 41.4h48.3v1.5h-48.3z" />
      </g>
    </svg>
  </div>
</template>

<script>
import Vue from 'vue';
import LongPress from 'vue-directive-long-press';
Vue.directive('long-press', LongPress);

export default {
  props: {
    position: {
      type: Object,
      requilt_grey: true,
    },
  },
  data() {
    return {
      active: false,
      bluetooth: false,
      wifi: false,
      lockall: false,
    };
  },
  watch: {
    bluetooth: function(oldVal, newVal) {
      this.$store.dispatch('setStatus', { target: 'bluetooth', amount: newVal });
    },
    // lockall: function(oldVal, newVal) {
    //   this.$store.dispatch('setStatus', { target: 'lockall', amount: newVal });
    // },
    wifi: function(oldVal, newVal) {
      this.$store.dispatch('setStatus', { target: 'wifi', amount: newVal });
    },
  },
  methods: {
    allOffClicked: function() {
      if(this.$store.getters.isActive('lockall')) return;

      window.SoundPlayer.playSound('Cancel');
      this.$store.dispatch('setBurnerStatus', { burner: 0, status: false });
      this.$store.dispatch('setBurnerStatus', { burner: 1, status: false });
      this.$store.dispatch('setBurnerStatus', { burner: 2, status: false });
      this.$store.dispatch('setBurnerStatus', { burner: 3, status: false });
      this.$store.dispatch('setBurnerStatus', { burner: 4, status: false });
      this.resetState();
      // this.$store.dispatch('setStatus', { target: 'lockall', amount: newVal });
    },
    resetState: function() {
      const resetstatus = {
        burner0: false,
        burner1: false,
        burner2: false,
        burner3: false,
        burner4: false,
        burner0Pos: 0,
        burner1Pos: 0,
        burner2Pos: 0,
        burner3Pos: 0,
        burner4Pos: 0,
        burner0Temperature: 0,
        burner1Temperature: 0,
        burner2Temperature: 0,
        burner3Temperature: 0,
        burner4Temperature: 0,
        error: false,
        pairing: false,
        paired: false,
        paired2: false,
        unpairconfirm: false,
        bluetooth: false,
        wifi: false,
        timer: false,
        sync: false,
        precision: false,
        lockall: false,
      };
      for (const obj in resetstatus) {
        this.$store.dispatch('setStatus', { target: obj, status: resetstatus[obj] });
      }
    },

    lockToggle: function() {
      window.SoundPlayer.playSound('Touch');
      this.lockall = !this.lockall;
      this.$store.dispatch('setStatus', { target: 'lockall', status: this.lockall });
    },
    btToggle: function() {
      if(this.$store.getters.isActive('lockall')) return;
      
      if (this.$store.state.mode == 'unpair') return;
      window.SoundPlayer.playSound('Touch');
      if (!this.$store.getters.isActive('paired') || !this.$store.getters.isActive('paired2')) {
        this.$store.dispatch('setStatus', { target: 'pairing', status: true });
      }
      this.bluetooth = !this.bluetooth;
    },
    btUnpair: function() {
      if(this.$store.getters.isActive('lockall')) return;
      
      if (this.$store.getters.isActive('paired') || !this.$store.getters.isActive('paired2')) {
        window.SoundPlayer.playSound('Start');
        this.$store.dispatch('setStatus', { target: 'unpairconfirm', status: true });
        // this.$store.dispatch('setStatus', { target: 'pairing', status: false });
        // this.$store.dispatch('setStatus', { target: 'paired', status: false });
        // this.$store.dispatch('setStatus', { target: 'paired2', status: false });
      }
    },
    wifiToggle: function() {
      if(this.$store.getters.isActive('lockall')) return;
      
      window.SoundPlayer.playSound('Touch');
      this.wifi = !this.wifi;
      // this.$store.dispatch('setStatus', { target: 'wifi', amount: this.wifi });
    },
    // toggleTimer: () => {
    //   this.active = !this.active;
    // },
  },
};
</script>
<style lang="scss" scoped></style>
