<template>
  <div id="cooktop" class="TL absFull">
    <Burner
      v-for="burner in burners"
      :key="burner.id"
      :id="burner.id"
      :position="burner.position"
      :low="burner.low"
      :high="burner.high"
      :pcactivate="precisionstatus"
      :pcactivate2="precisionstatus2"
    ></Burner>
    <syncBurnerButton :position="syncBurner.position"></syncBurnerButton>
    <div class="center-panel">
      <precisionCookingButton
        :clkevent="togglePrecision"
        :position="precisionCooking.position"
      ></precisionCookingButton>
      <timerPanel :position="timer.position"></timerPanel>
    </div>
    <buttonPanel :position="buttons.position"></buttonPanel>
    <adminButton :adminFunc="funcLeft" :position="{ bottom: 17, left: 85 }"></adminButton>
    <adminButton :adminFunc="funcRight" :position="{ bottom: 17, left: 627 }"></adminButton>
  </div>
</template>

<script>
// import Sounds from '../../js/utils/AudioHandler';
import adminButton from './adminButton.vue';
import Burner from './burner.vue';
import syncBurnerButton from './syncBurnerButton.vue';
import precisionCookingButton from './precisionCookingButton.vue';
import timerPanel from './timerPanel.vue';
import buttonPanel from './buttonPanel.vue';

export default {
  components: {
    adminButton,
    Burner,
    precisionCookingButton,
    timerPanel,
    syncBurnerButton,
    buttonPanel,
  },
  data() {
    return {
      precisionstatus: false,
      precisionstatus2: false,
      funcLeft: this.gotoMenu,
      funcRight: this.precisionActivated,
      syncBurner: {
        position: { top: 118.0276, left: 107.62 },
      },
      precisionCooking: {
        position: { top: 207.028, left: 371.62 },
      },
      timer: {
        position: { top: 268, left: 319 },
      },
      buttons: {
        position: { top: 370, left: 193 },
      },
      burners: [
        // give ID, name, hi/low labels, cooktop position
        { id: 0, name: 'burner0', low: 'warm', high: 'high', position: { top: 16.0276, left: 103.6203 } },
        { id: 1, name: 'burner1', low: 'low', high: 'high', position: { top: 16.0276, left: 281.792 } },
        { id: 2, name: 'burner2', low: 'melt', high: 'high', position: { top: 16.0276, left: 459.992 } },
        { id: 3, name: 'burner3', low: 'low', high: 'high', position: { top: 194.022, left: 103.62 } },
        { id: 4, name: 'burner4', low: 'low', high: 'powerboil', position: { top: 194.022, left: 459.993 } },
      ],
      bundler: 'Parcel',
    };
  },
  mounted() {
    this.$store.watch(
      (state) => {
        return state.mode;
      },
      ((newVal, oldVal) => {
        if (newVal !== oldVal) {
          switch (newVal) {
            case 'precision':
              this.funcRight = this.precisionActivated;
              break;
            case 'burner':
              break;
            case 'timer':
              break;
            case 'ring':
              break;
            case 'bluetooth':
              this.funcRight = this.bluetoothActivated;
              break;
            case 'unpair':
              this.togglePrecision = this.confirmUnpair;
              break;
          }
          this.$forceUpdate();
        }
      }).bind(this),
      {}
    );
  },
  methods: {
    togglePrecision: function() {
      if(this.$store.getters.isActive('lockall')) return;
      
      window.SoundPlayer.playSound('Touch');
      if (this.$store.state.mode == 'precision') {
        this.precisionstatus = !this.precisionstatus;
        this.funcRight = this.precisionActivated;
        this.$store.dispatch('setStatus', { target: 'precision', status: this.precisionstatus });
        this.togglePrecision = this.precisionPairSecond;
      } else {
        this.precisionstatus = !this.precisionstatus;
        // this.funcRight = this.precisionActivated;
        this.$store.dispatch('setStatus', { target: 'precision', status: this.precisionstatus });
      }
    },
    precisionPairSecond: function() {
      this.precisionstatus2 = !this.precisionstatus2;
      this.funcRight = this.precisionActivated2;
    },
    confirmUnpair: function() {
      if (this.$store.state.status.unpairconfirm) {
        window.SoundPlayer.playSound('Touch');
        this.$store.dispatch('setStatus', { target: 'pairing', status: false });
        this.$store.dispatch('setStatus', { target: 'paired', status: false });
        this.$store.dispatch('setStatus', { target: 'paired2', status: false });
        this.$store.dispatch('setStatus', { target: 'unpairconfirm', status: false });
      }
    },
    precisionActivated: function() {
      const burners = this.$store.getters.getActiveBurners;
      if (burners.length > 0) {
        window.SoundPlayer.playSound('Start');
        this.$store.dispatch('setStatus', { target: 'pairing', status: false });
        this.$store.dispatch('setStatus', { target: 'paired', status: true });
      }
    },
    precisionActivated2: function() {
      const burners = this.$store.getters.getActiveBurners;
      if (burners.length > 1) {
        window.SoundPlayer.playSound('Start');
        this.$store.dispatch('setStatus', { target: 'pairing', status: false });
        this.$store.dispatch('setStatus', { target: 'paired2', status: true });
      }
    },
    bluetoothActivated: function() {
      this.$store.dispatch('setStatus', { target: 'pairing', status: false });
      this.$store.dispatch('setStatus', { target: 'paired', status: true });
      // alert('paired first device');
      this.funcRight = this.bluetoothActivated2;
    },
    bluetoothActivated2: function() {
      this.$store.dispatch('setStatus', { target: 'pairing', status: false });
      this.$store.dispatch('setStatus', { target: 'paired2', status: true });
    },
    gotoMenu: function() {
      // console.log('menu');
      this.$store.dispatch('setMode', 'menu');
      window.location.reload();
      return false;
    },
  },
};
</script>
<style lang="scss">
svg {
  * {
    // shape-rendering:geometricPrecision;
    shape-rendering: optimizeQuality;
  }
}
#cooktop {
  width: 792px;
  height: 432px;
  // width: 10.9936in;
  // height: 6in;

  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%);
  // background: #000 url('../img/fpo.png') center center no-repeat;
}
</style>
