<template>
  <div class="TL number-led" :style="{ top: position.top + 'px', left: position.left + 'px' }">
    <keep-alive>
      <svg xmlns="http://www.w3.org/2000/svg" width="20.3" height="32.4" overflow="visible">
        <g id="digit_9" v-show="digit == '9'">
          <path
            class="red"
            d="M16.6 15.6V17l-.1.2v.1l-.1.1-.2.1-.1.1H16l-.2.1H4.5l-.2-.1h-.2l-.1-.1-.1-.1-.1-.1-.1-.1V17l-.1-.1v-1.3l.1-.2v-.2l.1-.1.1-.1.1-.1.1-.1h.2l.2-.1h11.3l.2.1h.1l.1.1.2.1.1.1v.1l.1.2zM3.9 30.3V30l.1-.2.1-.1.1-.1h.2l.1-.1h11.2l.2.1h.1l.1.1.1.1.1.2v.1l.1.2v2.1H3.9zM4.7 2.9H4.4l-.2-.1-.1-.1-.1-.1v-.2l-.1-.1V0h12.5v2.1l-.1.2v.1l-.1.2-.1.1-.1.1-.1.1H15.6zM19.4 17.3l.2.1h.2l.1.1.1.1.1.1.1.1v.2l.1.1v13.5l-.1.2v.1l-.1.1-.1.2-.1.1h-.1l-.2.1H17.3V18.1l.1-.1v-.2l.1-.1.1-.1.1-.1.1-.1h.2l.1-.1zM20.3.8v13.5l-.1.1v.2l-.1.1-.1.1-.1.1-.1.1-.2.1H18l-.2-.1-.1-.1-.1-.1-.1-.1-.1-.1v-.2l-.1-.1V0H19.6l.2.1h.1l.1.1.1.2.1.1v.2zM.8 15.1H.7L.5 15l-.1-.1-.2-.1-.1-.1v-.1l-.1-.2V.7L.1.5V.4L.2.2.4.1h.1L.7 0h2.2v14.6l-.1.1-.1.1-.1.1-.2.1-.1.1h-.2z"
          />
        </g>
        <g id="digit_8" v-show="digit == '8'">
          <path
            class="red"
            d="M16.6 15.6V17l-.1.2v.1l-.1.1-.2.1-.1.1H16l-.2.1H4.5l-.2-.1h-.2l-.1-.1-.1-.1-.1-.1-.1-.1V17l-.1-.1v-1.3l.1-.2v-.2l.1-.1.1-.1.1-.1.1-.1h.2l.2-.1h11.3l.2.1h.1l.1.1.2.1.1.1v.1l.1.2zM3.9 30.3V30l.1-.2.1-.1.1-.1h.2l.1-.1h11.2l.2.1h.1l.1.1.1.1.1.2v.1l.1.2v2.1H3.9zM4.7 2.9H4.4l-.2-.1-.1-.1-.1-.1v-.2l-.1-.1V0h12.5v2.1l-.1.2v.1l-.1.2-.1.1-.1.1-.1.1H15.6zM19.4 17.3l.2.1h.2l.1.1.1.1.1.1.1.1v.2l.1.1v13.5l-.1.2v.1l-.1.1-.1.2-.1.1h-.1l-.2.1H17.3V18.1l.1-.1v-.2l.1-.1.1-.1.1-.1.1-.1h.2l.1-.1zM20.3.8v13.5l-.1.1v.2l-.1.1-.1.1-.1.1-.1.1-.2.1H18l-.2-.1-.1-.1-.1-.1-.1-.1-.1-.1v-.2l-.1-.1V0H19.6l.2.1h.1l.1.1.1.2.1.1v.2zM0 31.6V18l.1-.2v-.1l.1-.1.2-.1.1-.1h.2l.1-.1h1.3l.2.1h.1l.2.1.1.1.1.1.1.1V32.4H.7l-.2-.1H.4l-.2-.1-.1-.2v-.1l-.1-.1zM.8 15.1H.7L.5 15l-.1-.1-.2-.1-.1-.1v-.1l-.1-.2V.7L.1.5V.4L.2.2.4.1h.1L.7 0h2.2v14.6l-.1.1-.1.1-.1.1-.2.1-.1.1h-.2z"
          />
        </g>
        <g id="digit_7" v-show="digit == '7'">
          <path
            class="red"
            d="M4.7 2.9H4.4l-.2-.1-.1-.1-.1-.1v-.2l-.1-.1V0h12.5v2.1l-.1.2v.1l-.1.2-.1.1-.1.1-.1.1H15.6zM19.4 17.3l.2.1h.2l.1.1.1.1.1.1.1.1v.2l.1.1v13.5l-.1.2v.1l-.1.1-.1.2-.1.1h-.1l-.2.1H17.3V18.1l.1-.1v-.2l.1-.1.1-.1.1-.1.1-.1h.2l.1-.1zM20.3.8v13.5l-.1.1v.2l-.1.1-.1.1-.1.1-.1.1-.2.1H18l-.2-.1-.1-.1-.1-.1-.1-.1-.1-.1v-.2l-.1-.1V0H19.6l.2.1h.1l.1.1.1.2.1.1v.2z"
          />
        </g>
        <g id="digit_6" v-show="digit == '6'">
          <path
            class="red"
            d="M16.6 15.6V17l-.1.2v.1l-.1.1-.2.1-.1.1H16l-.2.1H4.5l-.2-.1h-.2l-.1-.1-.1-.1-.1-.1-.1-.1V17l-.1-.1v-1.3l.1-.2v-.2l.1-.1.1-.1.1-.1.1-.1h.2l.2-.1h11.3l.2.1h.1l.1.1.2.1.1.1v.1l.1.2zM3.9 30.3V30l.1-.2.1-.1.1-.1h.2l.1-.1h11.2l.2.1h.1l.1.1.1.1.1.2v.1l.1.2v2.1H3.9zM4.7 2.9H4.4l-.2-.1-.1-.1-.1-.1v-.2l-.1-.1V0h12.5v2.1l-.1.2v.1l-.1.2-.1.1-.1.1-.1.1H15.6zM19.4 17.3l.2.1h.2l.1.1.1.1.1.1.1.1v.2l.1.1v13.5l-.1.2v.1l-.1.1-.1.2-.1.1h-.1l-.2.1H17.3V18.1l.1-.1v-.2l.1-.1.1-.1.1-.1.1-.1h.2l.1-.1zM0 31.6V18l.1-.2v-.1l.1-.1.2-.1.1-.1h.2l.1-.1h1.3l.2.1h.1l.2.1.1.1.1.1.1.1V32.4H.7l-.2-.1H.4l-.2-.1-.1-.2v-.1l-.1-.1zM.8 15.1H.7L.5 15l-.1-.1-.2-.1-.1-.1v-.1l-.1-.2V.7L.1.5V.4L.2.2.4.1h.1L.7 0h2.2v14.6l-.1.1-.1.1-.1.1-.2.1-.1.1h-.2z"
          />
        </g>
        <g id="digit_5" v-show="digit == '5'">
          <path
            class="red"
            d="M16.6 15.6V17l-.1.2v.1l-.1.1-.2.1-.1.1H16l-.2.1H4.5l-.2-.1h-.2l-.1-.1-.1-.1-.1-.1-.1-.1V17l-.1-.1v-1.3l.1-.2v-.2l.1-.1.1-.1.1-.1.1-.1h.2l.2-.1h11.3l.2.1h.1l.1.1.2.1.1.1v.1l.1.2zM3.9 30.3V30l.1-.2.1-.1.1-.1h.2l.1-.1h11.2l.2.1h.1l.1.1.1.1.1.2v.1l.1.2v2.1H3.9zM4.7 2.9H4.4l-.2-.1-.1-.1-.1-.1v-.2l-.1-.1V0h12.5v2.1l-.1.2v.1l-.1.2-.1.1-.1.1-.1.1H15.6zM19.4 17.3l.2.1h.2l.1.1.1.1.1.1.1.1v.2l.1.1v13.5l-.1.2v.1l-.1.1-.1.2-.1.1h-.1l-.2.1H17.3V18.1l.1-.1v-.2l.1-.1.1-.1.1-.1.1-.1h.2l.1-.1zM.8 15.1H.7L.5 15l-.1-.1-.2-.1-.1-.1v-.1l-.1-.2V.7L.1.5V.4L.2.2.4.1h.1L.7 0h2.2v14.6l-.1.1-.1.1-.1.1-.2.1-.1.1h-.2z"
          />
        </g>
        <g id="digit_4" v-show="digit == '4'">
          <path
            class="red"
            d="M16.6 15.6V17l-.1.2v.1l-.1.1-.2.1-.1.1H16l-.2.1H4.5l-.2-.1h-.2l-.1-.1-.1-.1-.1-.1-.1-.1V17l-.1-.1v-1.3l.1-.2v-.2l.1-.1.1-.1.1-.1.1-.1h.2l.2-.1h11.3l.2.1h.1l.1.1.2.1.1.1v.1l.1.2zM19.4 17.3l.2.1h.2l.1.1.1.1.1.1.1.1v.2l.1.1v13.5l-.1.2v.1l-.1.1-.1.2-.1.1h-.1l-.2.1H17.3V18.1l.1-.1v-.2l.1-.1.1-.1.1-.1.1-.1h.2l.1-.1zM20.3.8v13.5l-.1.1v.2l-.1.1-.1.1-.1.1-.1.1-.2.1H18l-.2-.1-.1-.1-.1-.1-.1-.1-.1-.1v-.2l-.1-.1V0H19.6l.2.1h.1l.1.1.1.2.1.1v.2zM.8 15.1H.7L.5 15l-.1-.1-.2-.1-.1-.1v-.1l-.1-.2V.7L.1.5V.4L.2.2.4.1h.1L.7 0h2.2v14.6l-.1.1-.1.1-.1.1-.2.1-.1.1h-.2z"
          />
        </g>
        <g id="digit_3" v-show="digit == '3'">
          <path
            class="red"
            d="M16.6 15.6V17l-.1.2v.1l-.1.1-.2.1-.1.1H16l-.2.1H4.5l-.2-.1h-.2l-.1-.1-.1-.1-.1-.1-.1-.1V17l-.1-.1v-1.3l.1-.2v-.2l.1-.1.1-.1.1-.1.1-.1h.2l.2-.1h11.3l.2.1h.1l.1.1.2.1.1.1v.1l.1.2zM3.9 30.3V30l.1-.2.1-.1.1-.1h.2l.1-.1h11.2l.2.1h.1l.1.1.1.1.1.2v.1l.1.2v2.1H3.9zM4.7 2.9H4.4l-.2-.1-.1-.1-.1-.1v-.2l-.1-.1V0h12.5v2.1l-.1.2v.1l-.1.2-.1.1-.1.1-.1.1H15.6zM19.4 17.3l.2.1h.2l.1.1.1.1.1.1.1.1v.2l.1.1v13.5l-.1.2v.1l-.1.1-.1.2-.1.1h-.1l-.2.1H17.3V18.1l.1-.1v-.2l.1-.1.1-.1.1-.1.1-.1h.2l.1-.1zM20.3.8v13.5l-.1.1v.2l-.1.1-.1.1-.1.1-.1.1-.2.1H18l-.2-.1-.1-.1-.1-.1-.1-.1-.1-.1v-.2l-.1-.1V0H19.6l.2.1h.1l.1.1.1.2.1.1v.2z"
          />
        </g>
        <g id="digit_2" v-show="digit == '2'">
          <path
            class="red"
            d="M16.6 15.6V17l-.1.2v.1l-.1.1-.2.1-.1.1H16l-.2.1H4.5l-.2-.1h-.2l-.1-.1-.1-.1-.1-.1-.1-.1V17l-.1-.1v-1.3l.1-.2v-.2l.1-.1.1-.1.1-.1.1-.1h.2l.2-.1h11.3l.2.1h.1l.1.1.2.1.1.1v.1l.1.2zM3.9 30.3V30l.1-.2.1-.1.1-.1h.2l.1-.1h11.2l.2.1h.1l.1.1.1.1.1.2v.1l.1.2v2.1H3.9zM4.7 2.9H4.4l-.2-.1-.1-.1-.1-.1v-.2l-.1-.1V0h12.5v2.1l-.1.2v.1l-.1.2-.1.1-.1.1-.1.1H15.6zM20.3.8v13.5l-.1.1v.2l-.1.1-.1.1-.1.1-.1.1-.2.1H18l-.2-.1-.1-.1-.1-.1-.1-.1-.1-.1v-.2l-.1-.1V0H19.6l.2.1h.1l.1.1.1.2.1.1v.2zM0 31.6V18l.1-.2v-.1l.1-.1.2-.1.1-.1h.2l.1-.1h1.3l.2.1h.1l.2.1.1.1.1.1.1.1V32.4H.7l-.2-.1H.4l-.2-.1-.1-.2v-.1l-.1-.1z"
          />
        </g>
        <g id="digit_1" v-show="digit == '1'">
          <path
            class="red"
            d="M19.4 17.3l.2.1h.2l.1.1.1.1.1.1.1.1v.2l.1.1v13.5l-.1.2v.1l-.1.1-.1.2-.1.1h-.1l-.2.1H17.3V18.1l.1-.1v-.2l.1-.1.1-.1.1-.1.1-.1h.2l.1-.1zM20.3.8v13.5l-.1.1v.2l-.1.1-.1.1-.1.1-.1.1-.2.1H18l-.2-.1-.1-.1-.1-.1-.1-.1-.1-.1v-.2l-.1-.1V0H19.6l.2.1h.1l.1.1.1.2.1.1v.2z"
          />
        </g>
        <g id="digit_0" v-show="digit == '0'">
          <path
            class="red"
            d="M3.9 30.3V30l.1-.2.1-.1.1-.1h.2l.1-.1h11.2l.2.1h.1l.1.1.1.1.1.2v.1l.1.2v2.1H3.9zM4.7 2.9H4.4l-.2-.1-.1-.1-.1-.1v-.2l-.1-.1V0h12.5v2.1l-.1.2v.1l-.1.2-.1.1-.1.1-.1.1H15.6zM19.4 17.3l.2.1h.2l.1.1.1.1.1.1.1.1v.2l.1.1v13.5l-.1.2v.1l-.1.1-.1.2-.1.1h-.1l-.2.1H17.3V18.1l.1-.1v-.2l.1-.1.1-.1.1-.1.1-.1h.2l.1-.1zM20.3.8v13.5l-.1.1v.2l-.1.1-.1.1-.1.1-.1.1-.2.1H18l-.2-.1-.1-.1-.1-.1-.1-.1-.1-.1v-.2l-.1-.1V0H19.6l.2.1h.1l.1.1.1.2.1.1v.2zM0 31.6V18l.1-.2v-.1l.1-.1.2-.1.1-.1h.2l.1-.1h1.3l.2.1h.1l.2.1.1.1.1.1.1.1V32.4H.7l-.2-.1H.4l-.2-.1-.1-.2v-.1l-.1-.1zM.8 15.1H.7L.5 15l-.1-.1-.2-.1-.1-.1v-.1l-.1-.2V.7L.1.5V.4L.2.2.4.1h.1L.7 0h2.2v14.6l-.1.1-.1.1-.1.1-.2.1-.1.1h-.2z"
          />
        </g>
      </svg>
    </keep-alive>
  </div>
</template>

<script>
export default {
  name: 'digit',
  props: {
    digit: {
      type: String,
      default: '0',
    },
    marching: {
      type: Boolean,
      default: false,
    },
    position: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      active: false,
      size: 0,
    };
  },
  watch:{},
  methods: {},
};
</script>
<style lang="scss" scoped></style>
