<template>
  <div id="mainmenu" class="TL">
    <p><a @click="showMenu('burner')">Task 01<!-- - Burner Controls --></a></p>
    <p><a @click="showMenu('timer')">Task 02 - Timer</a></p>
    <p><a @click="showMenu('ring')">Task 03 - Ring</a></p>
    <p><a @click="showMenu('bluetooth')">Task 04 - Device Pairing (BT)</a></p>
    <p><a @click="showMenu('precision')">Task 05 - Precision Cook</a></p>
    <p><a @click="showMenu('unpair')">Task 06 - Unpair All</a></p>
    <p><a @click="showMenu('syncburners')">Task 07 - Sync Burners</a></p>
    <p><a @click="showMenu('alloff')">Task 08 - All Off &amp; Lock</a></p>
  </div>
</template>

<script>

export default {
  components: {},
  data() {
    return {
      mode: 'menu',
    };
  },
  methods: {
    showMenu: function(mode) {
      this.mode = mode;
      this.$store.dispatch('setMode', mode);
    },
  },
};
</script>
<style lang="scss">
@font-face {
  font-family: 'BentonSans';
  src: url('../fonts/BentonSans-Medium.woff2') format('woff2'), url('../fonts/BentonSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#mainmenu {
  text-align: center;
  width: 400px;
  // height:600px;
  // width: 10.9936in;
  // height: 6in;

  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%);
  // background: #000 url('../img/fpo.png') center center no-repeat;
  p,
  a {
    font-family: 'BentonSans';
    font-size: 1em;
    line-height: 2em;
    color: #fff;
  }
}
</style>
