<template>
  <div id="main">
    <div id="wrapper">
      <div v-show="currentComponent == 'menu'">
        <Menu></Menu>
      </div>
      <div v-show="currentComponent !== 'menu'">
        <cooktop></cooktop>
      </div>
    </div>
  </div>
</template>

<script>
// import Burner from '../../js/utils/AudioHandler';
import Vue from 'Vue';
import Menu from './mainmenu.vue';
import Cooktop from './cooktop.vue';

export default {
  components: {
    Cooktop,
    Menu,
  },
  data() {
    return {
      currentComponent: 'menu',
      bundler: 'Parcel',
    };
  },
  mounted() {
    this.$store.watch(
      (state) => {
        return state.mode;
      },
      ((newVal, oldVal) => {
        if (newVal !== oldVal) {
          this.currentComponent = newVal;
          // console.log(newVal);
          this.resetState();
          this.setFlowEnvironment(newVal);
          this.$forceUpdate();
        }
      }).bind(this),
      {}
    );
  },
  watch: {},
  methods: {
    resetState: function() {
      const resetstatus = {
        burner0: false,
        burner1: false,
        burner2: false,
        burner3: false,
        burner4: false,
        burner0Pos: 0,
        burner1Pos: 0,
        burner2Pos: 0,
        burner3Pos: 0,
        burner4Pos: 0,
        burner0Temperature: -1,
        burner1Temperature: -1,
        burner2Temperature: -1,
        burner3Temperature: -1,
        burner4Temperature: -1,
        error: false,
        pairing: false,
        paired: false,
        paired2: false,
        unpairconfirm: false,
        bluetooth: false,
        wifi: false,
        timer: false,
        sync: false,
        precision: false,
        heating: false,
        heated: false,
        heated2: false,
        lockall: false,
      };
      for (const obj in resetstatus) {
        this.$store.dispatch('setStatus', { target: obj, status: resetstatus[obj] });
      }
    },
    setFlowEnvironment: function(mode) {
      switch (mode) {
        case 'precision':
          break;
        case 'burner':
          break;
        case 'timer':
          break;
        case 'ring':
          this.$store.dispatch('setStatus', { target: 'burner0Temperature', status: 99 });
          this.$store.dispatch('setStatus', { target: 'burner2Temperature', status: 50 });
          this.$store.dispatch('setStatus', { target: 'burner3Temperature', status: 74 });
          this.$store.dispatch('setStatus', { target: 'burner4Temperature', status: 74 });

          this.$store.dispatch('setBurnerStatus', { burner: 0, status: true });
          this.$store.dispatch('setBurnerStatus', { burner: 2, status: true });
          this.$store.dispatch('setBurnerStatus', { burner: 3, status: true });
          this.$store.dispatch('setBurnerStatus', { burner: 4, status: true });
          break;
        case 'bluetooth':
          break;
        case 'unpair':
          // this.$store.dispatch('setStatus', { target: 'paired', status: true });
          break;
      }
    },
  },
};
</script>
<style lang="scss">
#main {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform-origin: center center;
  margin: auto;
}
#wrapper {
  position: absolute;
  width: 792px;
  height: 432px;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%);
}
.red {
  fill: #ec2024;
}
.grey {
  fill: #676767;
}
.lt_grey {
  fill: #d0d2d3;
  color: #d0d2d3;
}
</style>
