<template>
  <div class="TL precision-cooking" :style="{ top: position.top + 'px', left: position.left + 'px' }">
    <!-- <div v-if="active" class="TL temperature-guage" :style="{ top: position.top + 'px', left: position.left + 'px' }"> -->
    <svg xmlns="http://www.w3.org/2000/svg" width="48.3" height="53.8" overflow="visible">
      <g @click="clkevent" id="precisionCooking_bn">
        <path id="Wifi_Connect_dark_grey" d="M0 0h47.5v32H0z" />
        <g id="PC">
          <path
            class="lt_grey"
            d="M5.1 13.7V7h2.3c1.4 0 2.6.5 2.6 2 0 1.6-1.2 2.1-2.6 2.1H6.2v2.5H5.1zm1.1-3.5h1.2c1 0 1.4-.3 1.4-1.1 0-.7-.4-1.1-1.4-1.1H6.2v2.2zM10.7 13.7V8.9h1.1v.8c.3-.5.8-.9 1.7-.9h.1v1h-.3c-.7 0-1.2.3-1.5.8v3h-1.1zM13.9 11.3c0-1.8 1.3-2.5 2.3-2.5 1.1 0 2.1.6 2.1 2.6v.3H15c0 .9.6 1.2 1.3 1.2.6 0 1-.2 1.3-.6l.6.6c-.5.5-1.2.9-2 .9-1.1 0-2.3-.7-2.3-2.5zm3.4-.5c-.1-.7-.4-1.1-1.1-1.1-.5 0-1 .3-1.1 1.1h2.2zM19 11.3c0-1.8 1.2-2.5 2.3-2.5 1.2 0 1.7.7 2 1.4l-.9.3c-.2-.5-.5-.8-1.1-.8-.6 0-1.2.4-1.2 1.6 0 1 .4 1.6 1.1 1.6.5 0 .9-.2 1.1-.8l.9.3c-.3.8-.9 1.4-2.1 1.4-.9 0-2.1-.7-2.1-2.5zM24.2 8.1v-1h1.1v1h-1.1zm0 5.6V8.9h1.1v4.8h-1.1zM26.3 13l.6-.7c.4.3.9.6 1.5.6s1-.2 1-.5c0-.4-.5-.5-1.1-.6-.8-.2-1.8-.4-1.8-1.5 0-.8.7-1.4 1.8-1.4.9 0 1.5.3 2 .7l-.5.7c-.4-.3-.9-.5-1.4-.5-.6 0-.8.2-.8.5 0 .4.5.5 1 .6.8.2 1.8.4 1.8 1.5 0 1-.9 1.5-2 1.5-.9-.1-1.7-.4-2.1-.9zM31.4 8.1v-1h1.1v1h-1.1zm0 5.6V8.9h1.1v4.8h-1.1zM33.5 11.3c0-1.8 1.2-2.5 2.3-2.5 1.2 0 2.3.7 2.3 2.5 0 1.7-1.2 2.5-2.3 2.5s-2.3-.7-2.3-2.5zm3.6 0c0-.9-.4-1.5-1.2-1.5-.8 0-1.2.6-1.2 1.5s.4 1.6 1.2 1.6c.8 0 1.2-.6 1.2-1.6zM39.2 13.7V8.9h1.1v.8c.4-.4.9-.9 1.7-.9.9 0 1.4.5 1.4 1.4v3.5h-1.1v-3.2c0-.5-.2-.8-.7-.8-.5 0-.9.2-1.3.6v3.3h-1.1zM6.9 21.4c0-2.2 1.3-3.4 2.9-3.4 1.5 0 2.3.9 2.6 2.1l-1.1.3c-.3-.9-.6-1.3-1.5-1.3-1.1 0-1.8.9-1.8 2.4 0 1.6.7 2.5 1.8 2.5.9 0 1.4-.4 1.6-1.4l1.1.2c-.3 1.3-1.1 2.2-2.7 2.2-1.7-.2-2.9-1.4-2.9-3.6zM13.2 22.3c0-1.8 1.2-2.5 2.3-2.5 1.2 0 2.3.7 2.3 2.5 0 1.7-1.2 2.5-2.3 2.5s-2.3-.7-2.3-2.5zm3.6 0c0-.9-.4-1.5-1.2-1.5-.8 0-1.2.6-1.2 1.5s.4 1.6 1.2 1.6c.7 0 1.2-.6 1.2-1.6zM18.6 22.3c0-1.8 1.2-2.5 2.3-2.5 1.2 0 2.3.7 2.3 2.5 0 1.7-1.2 2.5-2.3 2.5s-2.3-.7-2.3-2.5zm3.5 0c0-.9-.4-1.5-1.2-1.5-.8 0-1.2.6-1.2 1.5s.4 1.6 1.2 1.6c.8 0 1.2-.6 1.2-1.6zM24.2 24.7V18h1.1v4l1.8-2.1h1.2l-1.6 1.7 1.7 3h-1.2L26 22.4l-.8.8v1.4h-1zM29.3 19.1v-1h1.1v1h-1.1zm0 5.6v-4.8h1.1v4.8h-1.1zM31.7 24.7v-4.8h1.1v.8c.4-.4.9-.9 1.7-.9.9 0 1.4.5 1.4 1.4v3.5h-1.1v-3.2c0-.5-.2-.8-.7-.8-.5 0-.9.2-1.3.6v3.3h-1.1zM36.6 25.4c0-.5.3-.8.8-1-.2-.1-.4-.3-.4-.6 0-.4.3-.7.6-.9-.5-.3-.8-.8-.8-1.4 0-1 .8-1.7 2-1.7.7 0 1.1.2 1.5.5.3-.2.8-.4 1.2-.5v.9c-.2 0-.5 0-.8.1.1.2.2.4.2.6 0 1-.7 1.7-2 1.7-.3 0-.4 0-.7-.1-.1.1-.2.2-.2.3 0 .2.1.3.5.3l.8.1c1.4.1 2 .5 2 1.3 0 1-1 1.5-2.5 1.5-1.5.1-2.2-.4-2.2-1.1zm3.8-.2c0-.3-.2-.5-1.2-.5l-.8-.1h-.3c-.3.1-.4.4-.4.6 0 .4.5.6 1.5.6.7 0 1.2-.3 1.2-.6zm-.5-3.6c0-.6-.3-.9-1-.9-.6 0-1 .3-1 .9s.4.9 1 .9c.7 0 1-.3 1-.9z"
          />
        </g>
        <path fill="#676767" d="M0 30.8h48.3v1.5H0z" id="PC_Bar" />
      </g>
      <g v-show="showActivatePrompt" id="status_activate">
        <path
          class="red"
          d="M5.3 43.7l2.1-5.9h1l2.1 5.9h-1L9 42.3H6.7l-.5 1.4h-.9zM7 41.4h1.6L7.8 39 7 41.4zM10.7 40.8c0-2 1.1-3.1 2.6-3.1 1.4 0 2 .8 2.3 1.8l-1 .3c-.2-.8-.6-1.2-1.4-1.2-1 0-1.6.8-1.6 2.1 0 1.4.6 2.2 1.6 2.2.8 0 1.2-.4 1.4-1.3l1 .2c-.3 1.2-1 2-2.4 2s-2.5-1-2.5-3zM17.8 43.7v-5H16v-.9h4.6v.9h-1.8v5h-1zM21.6 43.7v-5.9h1v5.9h-1zM25.6 43.8l-2.1-5.9h1l1.5 4.6 1.6-4.6h.9l-2.1 5.9h-.8zM28.5 43.7l2.1-5.9h1l2.1 5.9h-1l-.5-1.4H30l-.5 1.4h-1zm1.8-2.3h1.6l-.8-2.4-.8 2.4zM35.2 43.7v-5h-1.8v-.9H38v.9h-1.8v5h-1zM39 43.7v-5.9h3.8v.9H40v1.5h2v.9h-2v1.7h3v.9h-4z"
        />
      </g>
      <g v-show="showTemperaturePrompt" id="status_settemp">
        <path
          class="red"
          d="M4.8 52.3l.8-.4c.4.7.9 1 1.6 1 .7 0 1.2-.2 1.2-.8 0-.5-.4-.8-1.3-1C6 50.8 5 50.5 5 49.4c0-1 .8-1.7 2-1.7s1.9.6 2.2 1.3l-.7.5c-.4-.6-.9-.9-1.5-.9-.7 0-1 .2-1 .7 0 .6.4.7 1.4 1 1.1.3 2 .7 2 1.8 0 1-.8 1.7-2.2 1.7-1.2 0-2-.6-2.4-1.5zM10.5 53.7v-5.9h3.8v.9h-2.8v1.5h2.1v.9h-2.1v1.7h3v.9h-4zM16.9 53.7v-5H15v-.9h4.6v.9h-1.8v5h-.9zM23.5 53.7v-5h-1.8v-.9h4.6v.9h-1.8v5h-1zM27.2 53.7v-5.9H31v.9h-2.8v1.5h2.1v.9h-2.1v1.7h3v.9h-4zM32.1 53.7v-5.9h1.3l1.6 4.7 1.5-4.7h1.3v5.9h-1v-4.4c-.1.4-.2.8-.4 1.2l-1.2 3.2h-.9l-1.1-3.2c-.1-.4-.2-.7-.4-1.2v4.5h-.7zM39.3 53.7v-5.9h2.1c1.3 0 2.3.4 2.3 1.8s-1.1 1.9-2.3 1.9h-1v2.2h-1.1zm1-3.1h1.1c.9 0 1.3-.3 1.3-1s-.4-.9-1.3-.9h-1.1v1.9z"
        />
      </g>
      <g v-show="showTemperaturePrompt2" id="status_settemp">
        <path
          class="red"
          d="M4.8 52.3l.8-.4c.4.7.9 1 1.6 1 .7 0 1.2-.2 1.2-.8 0-.5-.4-.8-1.3-1C6 50.8 5 50.5 5 49.4c0-1 .8-1.7 2-1.7s1.9.6 2.2 1.3l-.7.5c-.4-.6-.9-.9-1.5-.9-.7 0-1 .2-1 .7 0 .6.4.7 1.4 1 1.1.3 2 .7 2 1.8 0 1-.8 1.7-2.2 1.7-1.2 0-2-.6-2.4-1.5zM10.5 53.7v-5.9h3.8v.9h-2.8v1.5h2.1v.9h-2.1v1.7h3v.9h-4zM16.9 53.7v-5H15v-.9h4.6v.9h-1.8v5h-.9zM23.5 53.7v-5h-1.8v-.9h4.6v.9h-1.8v5h-1zM27.2 53.7v-5.9H31v.9h-2.8v1.5h2.1v.9h-2.1v1.7h3v.9h-4zM32.1 53.7v-5.9h1.3l1.6 4.7 1.5-4.7h1.3v5.9h-1v-4.4c-.1.4-.2.8-.4 1.2l-1.2 3.2h-.9l-1.1-3.2c-.1-.4-.2-.7-.4-1.2v4.5h-.7zM39.3 53.7v-5.9h2.1c1.3 0 2.3.4 2.3 1.8s-1.1 1.9-2.3 1.9h-1v2.2h-1.1zm1-3.1h1.1c.9 0 1.3-.3 1.3-1s-.4-.9-1.3-.9h-1.1v1.9z"
        />
      </g>
    </svg>
  </div>
</template>

<script>
export default {
  props: {
    position: {
      type: Object,
      required: true,
    },
    clkevent: {
      type: Function,
      required: true,
    },
  },
  data() {
    return {
      showActivatePrompt: false,
      // showTemperaturePrompt: false,
      active: false,
    };
  },
  methods: {},
  mounted() {
    this.$store.watch(
      (state) => {
        return state.status.pairing;
      },
      (newVal, oldVal) => {
        if (this.$store.state.mode == 'precision') {
          this.showActivatePrompt = newVal;
        }
        // console.log(newVal,oldVal);
      },
      {
        deep: true,
        immediate: true,
      }
    );
  },
  computed: {
    showTemperaturePrompt() {
      return (
        this.$store.state.mode == 'precision' && this.$store.state.status.paired && !this.$store.state.status.heating && !this.$store.state.status.heated
      );
    },
    showTemperaturePrompt2() {
      return (
        this.$store.state.mode == 'precision' && this.$store.state.status.paired2 && !this.$store.state.status.heating2 && !this.$store.state.status.heated2
      );
    },
  },
};
</script>
<style lang="scss"></style>
