<template>
  <div @click="cycleRingSize" class="TL ring-size" :style="{ top: position.top + 'px', left: position.left + 'px' }">
    <keep-alive>
      <svg xmlns="http://www.w3.org/2000/svg" width="33.5" height="33.5" overflow="visible">
        <g v-if="burnerSize == 'large'">
          <g id="largeBurner_container">
            <path
              class="grey"
              d="M16.8 12.7c-.8 0-1.4.6-1.4 1.4s.6 1.4 1.4 1.4c.8 0 1.4-.6 1.4-1.4s-.7-1.4-1.4-1.4zm0-4.6c-.8 0-1.4.6-1.4 1.4 0 .8.6 1.4 1.4 1.4.8 0 1.4-.6 1.4-1.4 0-.8-.7-1.4-1.4-1.4zm0-4.7c-.8 0-1.4.6-1.4 1.4 0 .8.6 1.4 1.4 1.4.8 0 1.4-.6 1.4-1.4 0-.7-.7-1.4-1.4-1.4z"
            />
            <path
              class="grey"
              d="M28.6 4.9C25.4 1.7 21.2 0 16.8 0 12.3 0 8.1 1.7 4.9 4.9c-6.5 6.5-6.5 17.2 0 23.7 3.3 3.3 7.6 4.9 11.8 4.9 2.2 0 4.3-.4 6.3-1.2 2-.8 3.9-2 5.5-3.7 6.6-6.5 6.6-17.2.1-23.7zm-1.1 22.6c-5.9 5.9-15.6 6-21.6 0C0 21.6 0 11.9 6 6c2.9-2.9 6.7-4.5 10.8-4.5 4.1 0 7.9 1.6 10.8 4.5 3 3 4.5 6.9 4.5 10.8-.1 3.9-1.6 7.8-4.6 10.7z"
            />
          </g>
          <g v-show="ringSizeActive">
            <g v-show="size >= 0 && size <= 3">
              <path
                id="burner_hi"
                class="red"
                d="M19.3 3.5c.2.4.3.9.3 1.4 0 .3 0 .6-.1.9 4.9 1.2 8.6 5.7 8.6 11 0 6.3-5.1 11.3-11.3 11.3-6.3 0-11.3-5.1-11.3-11.3 0-5.3 3.6-9.8 8.6-11-.1-.3-.1-.6-.1-.9 0-.5.1-1 .3-1.4-6.2 1.2-11 6.7-11 13.3 0 7.5 6.1 13.5 13.5 13.5 7.5 0 13.5-6 13.5-13.5 0-6.6-4.7-12.1-11-13.3z"
                v-show="size == 0"
              />
              <path
                class="red"
                d="M23.6 10c-1.4-1.4-3.1-2.2-4.8-2.6.6.5.9 1.3.9 2.1 0 .4-.1.7-.2 1 2.4 1 4.1 3.5 4.1 6.2 0 3.8-3 6.8-6.8 6.8s-6.8-3-6.8-6.8c0-2.8 1.7-5.2 4.1-6.2-.1-.3-.2-.7-.2-1 0-.8.4-1.6.9-2.1-1.8.3-3.5 1.2-4.9 2.6-3.8 3.8-3.8 9.8 0 13.6s9.9 3.8 13.6 0c3.8-3.8 3.8-9.9.1-13.6z"
                id="burner_med"
                v-show="size >= 0 && size < 2"
              />
              <path
                class="red"
                d="M20.4 20.4c-2 2-5.3 2-7.4 0-2-2-2-5.3 0-7.4.5-.5 1.1-.9 1.7-1.1-.6.5-.9 1.3-.9 2.2 0 1.6 1.3 2.9 2.9 2.9 1.6 0 2.9-1.3 2.9-2.9 0-.8-.4-1.6-.9-2.2.6.2 1.2.6 1.7 1.1 2.1 2.1 2.1 5.4 0 7.4z"
                id="burner_low"
              />
            </g>
          </g>
        </g>
        <g v-show="burnerSize == 'small'">
          <g id="smallBurner_container">
            <path
              class="grey"
              d="M16.8 12.6c-.8 0-1.4.6-1.4 1.4s.6 1.4 1.4 1.4c.8 0 1.4-.6 1.4-1.4s-.7-1.4-1.4-1.4zm0-4.6c-.8 0-1.4.6-1.4 1.4 0 .8.6 1.4 1.4 1.4.8 0 1.4-.6 1.4-1.4 0-.8-.7-1.4-1.4-1.4z"
            />
            <path
              class="grey"
              d="M16.8 29.3c-6.9 0-12.6-5.6-12.6-12.6S9.8 4.2 16.8 4.2s12.6 5.6 12.6 12.6-5.7 12.5-12.6 12.5zm0-23.6c-6.1 0-11.1 5-11.1 11.1s5 11.1 11.1 11.1 11.1-5 11.1-11.1-5-11.1-11.1-11.1z"
            />
          </g>
          <g v-show="ringSizeActive">
            <g v-show="size == 0 || size == 1">
              <path
                class="red"
                d="M23.6 9.8c-1.4-1.4-3.1-2.2-4.8-2.6.6.5.9 1.3.9 2.1 0 .4-.1.7-.2 1 2.4 1 4.1 3.5 4.1 6.2 0 3.8-3 6.8-6.8 6.8s-6.8-3-6.8-6.8c0-2.8 1.7-5.2 4.1-6.2-.1-.3-.2-.7-.2-1 0-.8.4-1.6.9-2.1-1.8.4-3.5 1.3-4.9 2.6-3.7 3.8-3.7 9.8 0 13.6s9.9 3.8 13.6 0c3.8-3.7 3.8-9.8.1-13.6z"
                id="burner_hi"
                v-show="size == 0"
              />
              <path
                class="red"
                d="M20.4 20.3c-2 2-5.3 2-7.4 0-2-2-2-5.3 0-7.4.5-.5 1.1-.9 1.7-1.1-.6.5-.9 1.3-.9 2.2 0 1.6 1.3 2.9 2.9 2.9 1.6 0 2.9-1.3 2.9-2.9 0-.8-.4-1.6-.9-2.2.6.2 1.2.6 1.7 1.1 2.1 2.1 2.1 5.4 0 7.4z"
                id="burner_low"
              />
            </g>
          </g>
        </g>
      </svg>
    </keep-alive>
  </div>
</template>

<script>
// import Vue from 'vue';
export default {
  name: 'ringSizeButton',
  props: {
    active: Boolean,
    burnerSize: {
      type: String,
    },
    position: {
      type: Object,
      required: true,
    },
    max: {
      type: Number,
      required: true,
    },
    burner: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      ringSizeActive: false,
      size: 0,
    };
  },
  watch: {
    active(newVal, oldVal) {
      this.ringSizeActive = newVal;
        this.size = 0;
    },
  },

  methods: {
    cycleRingSize: function() {
      if (this.ringSizeActive) {
        window.SoundPlayer.playSound('Touch');
        if(this.burnerSize == 'large'){
          this.size = this.size < this.max ? this.size + 1 : 0;
        } else{
          this.size = this.size == 0 ? 1 : 0;
        }
      }
    },
  },
};
</script>
<style lang="scss"></style>
