<template>
  <div class="TL status-led" :style="{ top: position.top + 'px', left: position.left + 'px' }">
    <keep-alive>
      <svg xmlns="http://www.w3.org/2000/svg" width="72.7" height="32.4" overflow="visible">
        <g id="paired2" v-show="status == 'paired2'">
          <path
            class="red"
            d="M16.6 15.6V17l-.1.2v.1l-.1.1-.2.1-.1.1H16l-.2.1H4.5l-.2-.1h-.2l-.1-.1-.1-.1-.1-.1-.1-.1V17l-.1-.1v-1.3l.1-.2v-.2l.1-.1.1-.1.1-.1.1-.1h.2l.2-.1h11.3l.2.1h.1l.1.1.2.1.1.1v.1l.1.2zM30.7 31.6V18l.1-.2.1-.1.1-.1.1-.1.1-.1h.2l.1-.1h1.3l.2.1h.1l.2.1.1.1.1.1.1.1V32.4h-2.2l-.2-.1h-.1l-.1-.1-.1-.2-.1-.1-.1-.1zM51 .8v13.5l-.1.1v.2l-.1.1-.1.1-.1.1-.1.1-.2.1h-1.6l-.2-.1-.1-.1-.1-.1-.1-.1-.1-.1v-.2l-.1-.1V0H50.3l.2.1h.1l.1.1.1.2.1.1v.2zM47.1 2.1v.2l-.1.1-.1.2-.1.1-.1.1-.1.1H35.1l-.1-.1-.2-.1-.1-.1v-.2l-.1-.1V0h12.5zM46.3 29.5H46.6l.1.1.1.1.1.1.1.2.1.1V32.4H34.6V30.1l.1-.1v-.2l.1-.1.2-.1.1-.1H35.4zM47.3 15.6v1.6l-.1.1-.1.1-.1.1-.2.1h-.1l-.2.1H35.2l-.2-.1h-.1l-.2-.1-.1-.1-.1-.1-.1-.1v-2l.1-.1.1-.1.1-.1.2-.1h.1l.2-.1h11.3l.2.1h.1l.2.1.1.1.1.1.1.1v.2zM72.7 15.6v1.6l-.1.1-.1.1-.1.1-.2.1h-.1l-.2.1H60.6l-.2-.1h-.1l-.2-.1-.1-.1-.1-.1-.1-.1v-2l.1-.1.1-.1.1-.1.2-.1h.1l.2-.1h11.3l.2.1h.1l.2.1.1.1.1.1.1.1v.2z"
          />
        </g>
        <g id="paired1" v-show="status == 'paired1'">
          <path
            class="red"
            d="M16.6 15.6V17l-.1.2v.1l-.1.1-.2.1-.1.1H16l-.2.1H4.5l-.2-.1h-.2l-.1-.1-.1-.1-.1-.1-.1-.1V17l-.1-.1v-1.3l.1-.2v-.2l.1-.1.1-.1.1-.1.1-.1h.2l.2-.1h11.3l.2.1h.1l.1.1.2.1.1.1v.1l.1.2zM51 .8v13.5l-.1.1v.2l-.1.1-.1.1-.1.1-.1.1-.2.1h-1.6l-.2-.1-.1-.1-.1-.1-.1-.1-.1-.1v-.2l-.1-.1V0H50.3l.2.1h.1l.1.1.1.2.1.1v.2zM50.2 17.3l.1.1h.2l.1.1.1.1.1.1.1.1.1.2V31.8l-.1.1-.1.1-.1.2-.1.1h-.1l-.2.1h-2.2V17.8l.1-.1.1-.1.1-.1.1-.1h.2l.2-.1zM72.7 15.6v1.6l-.1.1-.1.1-.1.1-.2.1h-.1l-.2.1H60.6l-.2-.1h-.1l-.2-.1-.1-.1-.1-.1-.1-.1v-2l.1-.1.1-.1.1-.1.2-.1h.1l.2-.1h11.3l.2.1h.1l.2.1.1.1.1.1.1.1v.2z"
          />
        </g>
        <g v-show="status == 'unpaired' || status == 'unpairedconfirmed'">
          <path
            id="unpaired"
            class="red"
            d="M16.6 15.6V17l-.1.2v.1l-.1.1-.2.1-.1.1H16l-.2.1H4.5l-.2-.1h-.2l-.1-.1-.1-.1-.1-.1-.1-.1V17l-.1-.1v-1.3l.1-.2v-.2l.1-.1.1-.1.1-.1.1-.1h.2l.2-.1h11.3l.2.1h.1l.1.1.2.1.1.1v.1l.1.2zM3.9 30.3V30l.1-.2.1-.1.1-.1h.2l.1-.1h11.2l.2.1h.1l.1.1.1.1.1.2v.1l.1.2v2.1H3.9zM19.4 17.3l.2.1h.2l.1.1.1.1.1.1.1.1v.2l.1.1v13.5l-.1.2v.1l-.1.1-.1.2-.1.1h-.1l-.2.1H17.3V18.1l.1-.1v-.2l.1-.1.1-.1.1-.1.1-.1h.2l.1-.1zM20.3.8v13.5l-.1.1v.2l-.1.1-.1.1-.1.1-.1.1-.2.1H18l-.2-.1-.1-.1-.1-.1-.1-.1-.1-.1v-.2l-.1-.1V0H19.6l.2.1h.1l.1.1.1.2.1.1v.2zM0 31.6V18l.1-.2v-.1l.1-.1.2-.1.1-.1h.2l.1-.1h1.3l.2.1h.1l.2.1.1.1.1.1.1.1V32.4H.7l-.2-.1H.4l-.2-.1-.1-.2v-.1l-.1-.1zM31.5 15.1h-.1l-.2-.1-.1-.1-.1-.1-.1-.1-.1-.1-.1-.2V.7l.1-.2.1-.1.1-.2.1-.1h.1l.2-.1h2.2v14.6l-.1.1-.1.1-.1.1-.2.1-.1.1h-.2zM30.7 31.6V18l.1-.2.1-.1.1-.1.1-.1.1-.1h.2l.1-.1h1.3l.2.1h.1l.2.1.1.1.1.1.1.1V32.4h-2.2l-.2-.1h-.1l-.1-.1-.1-.2-.1-.1-.1-.1zM47.1 2.1v.2l-.1.1-.1.2-.1.1-.1.1-.1.1H35.1l-.1-.1-.2-.1-.1-.1v-.2l-.1-.1V0h12.5zM46.3 29.5H46.6l.1.1.1.1.1.1.1.2.1.1V32.4H34.6V30.1l.1-.1v-.2l.1-.1.2-.1.1-.1H35.4zM47.3 15.6v1.6l-.1.1-.1.1-.1.1-.2.1h-.1l-.2.1H35.2l-.2-.1h-.1l-.2-.1-.1-.1-.1-.1-.1-.1v-2l.1-.1.1-.1.1-.1.2-.1h.1l.2-.1h11.3l.2.1h.1l.2.1.1.1.1.1.1.1v.2zM56.9 15.1h-.1l-.2-.1-.1-.1-.1-.1-.1-.1-.1-.1-.1-.2V.7l.1-.2.1-.1.1-.2.1-.1h.1l.2-.1H59v14.6l-.1.1-.1.1-.1.1-.2.1-.1.1h-.2zM56.1 31.6V18l.1-.2.1-.1.1-.1.1-.1.1-.1h.2l.1-.1h1.3l.2.1h.1l.2.1.1.1.1.1.1.1V32.4h-2.2l-.2-.1h-.1l-.1-.1-.1-.2-.1-.1-.1-.1zM71.7 29.5H72l.1.1.2.1.1.1v.2l.1.1V32.4H60V30.1l.1-.1.1-.2.1-.1.1-.1.1-.1H60.8z"
          />
        </g>
        <g v-show="status == 'pairing' || status == 'error' || status == 'pairingstatic'">
          <path
            id="march1"
            class="red"
            d="M16.6 15.6V17l-.1.2v.1l-.1.1-.2.1-.1.1H16l-.2.1H4.5l-.2-.1h-.2l-.1-.1-.1-.1-.1-.1-.1-.1V17l-.1-.1v-1.3l.1-.2v-.2l.1-.1.1-.1.1-.1.1-.1h.2l.2-.1h11.3l.2.1h.1l.1.1.2.1.1.1v.1l.1.2z"
          />
          <path
            id="march2"
            class="red"
            d="M47.3 15.6v1.6l-.1.1-.1.1-.1.1-.2.1h-.1l-.2.1H35.2l-.2-.1h-.1l-.2-.1-.1-.1-.1-.1-.1-.1v-2l.1-.1.1-.1.1-.1.2-.1h.1l.2-.1h11.3l.2.1h.1l.2.1.1.1.1.1.1.1v.2z"
          />
          <path
            id="march3"
            class="red"
            d="M72.7 15.6v1.6l-.1.1-.1.1-.1.1-.2.1h-.1l-.2.1H60.6l-.2-.1h-.1l-.2-.1-.1-.1-.1-.1-.1-.1v-2l.1-.1.1-.1.1-.1.2-.1h.1l.2-.1h11.3l.2.1h.1l.2.1.1.1.1.1.1.1v.2z"
          />
        </g>
      </svg>
    </keep-alive>
  </div>
</template>

<script>
// import Vue from 'vue';
import { gsap, TimelineMax } from 'gsap';

export default {
  name: 'statusdisplay',
  props: {
    status: {
      type: String,
      default: '',
    },
    temperatureOffset: {
      type: Boolean,
      default: false,
    },
    position: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      statusTL: null,
      statusTimer: null,
      active: false,
      laststatus: '',
    };
  },
  watch: {
    status: function(newVal, oldVal) {
      if (this.statusTL !== null) {
        this.statusTL.kill();
      }
      if (this.statusTimer !== null) {
        clearTimeout(this.statusTimer);
      }
      // console.log('status watch', newVal);

      switch (newVal) {
        case 'unpaired':
          this.statusTL = new TimelineMax({ repeat: -1, repeatDelay: 0.25 });
          this.statusTL
            .set('#unpaired', { opacity: 1 }, 0)
            .set('#unpaired', { opacity: 0 }, 1.0)
            .set('#unpaired', { opacity: 1 }, 2.0);

          this.statusTL.timeScale(2.125);

          break;

        case 'unpairedconfirmed':
            gsap.set('#unpaired', { opacity: 1 });
          this.statusTimer = setTimeout(
            function() {
              window.SoundPlayer.playSound('Cancel');
              this.statusTimer = setTimeout(
                function() {
                  this.clearStatus();
                }.bind(this),
                500
              );
            }.bind(this),
            1500
          );

          break;
        case 'paired2':
          this.statusTL = new TimelineMax({ repeat: 1, repeatDelay: 0.25 });
          this.statusTL
            .set('#paired2', { opacity: 1 }, 0)
            .set('#paired2', { opacity: 0 }, 1.0)
            .set('#paired2', { opacity: 1 }, 2.0);

          this.statusTimer = setTimeout(
            function() {
              window.SoundPlayer.playSound('Start');
            }.bind(this),
            3000
          );
          this.statusTL.timeScale(2.125);

          break;
        case 'paired1':
          this.statusTL = new TimelineMax({ repeat: 1, repeatDelay: 0.25 });
          this.statusTL
            .set('#paired1', { opacity: 1 }, 0)
            .set('#paired1', { opacity: 0 }, 1.0)
            .set('#paired1', { opacity: 1 }, 2.0);
          this.statusTimer = setTimeout(
            function() {
              window.SoundPlayer.playSound('Start');
            }.bind(this),
            3000
          );
          this.statusTL.timeScale(2.125);

          break;
        case 'unpaired':
          break;
        case 'pairingstatic':
          gsap.set('#march1', { opacity: 1 });
          gsap.set('#march2', { opacity: 1 });
          gsap.set('#march3', { opacity: 1 });

          break;
        case 'pairing':
          gsap.set('#march1', { opacity: 1 });
          gsap.set('#march2', { opacity: 0 });
          gsap.set('#march3', { opacity: 0 });
          this.statusTL = new TimelineMax({
            // yoyo: true,
            repeat: -1,
            repeatDelay: 0.25,
          });
          this.statusTL

            .set('#march1', { opacity: 0 }, 0.0)
            .set('#march2', { opacity: 1 }, 0.0)
            .set('#march3', { opacity: 0 }, 0.0)

            .set('#march1', { opacity: 0 }, 0.25)
            .set('#march2', { opacity: 0 }, 0.25)
            .set('#march3', { opacity: 1 }, 0.25)

            .set('#march1', { opacity: 0 }, 0.5)
            .set('#march2', { opacity: 1 }, 0.5)
            .set('#march3', { opacity: 0 }, 0.5)

            .set('#march1', { opacity: 1 }, 0.75)
            .set('#march2', { opacity: 0 }, 0.75)
            .set('#march3', { opacity: 0 }, 0.75);

          this.statusTL.timeScale(1.2);

          // this.statusTL.restart();
          break;
        case 'error':
          this.statusTL = new TimelineMax({ repeat: 3, repeatDelay: 0.0 });
          this.statusTL
            .set('#march1', { opacity: 1 }, 0)
            .set('#march2', { opacity: 1 }, 0)
            .set('#march3', { opacity: 1 }, 0)
            .set('#march1', { opacity: 0 }, 0.5)
            .set('#march2', { opacity: 0 }, 0.5)
            .set('#march3', { opacity: 0 }, 0.5)
            .set('#march1', { opacity: 1 }, 1.0)
            .set('#march2', { opacity: 1 }, 1.0)
            .set('#march3', { opacity: 1 }, 1.0);
          this.statusTL.timeScale(2.125);

          break;

        default:
          break;
      }
    },
  },
  methods: {
    clearStatus: function() {
      console.log('clearstatus');
      this.status = '';
    },
  },
  mounted() {
    if (this.temperatureOffset) {
      gsap.set('#march2', { transform: 'translateX(-6px)' });
      gsap.set('#march3', { transform: 'translateX(-6px)' });
    }
  },
};
</script>
<style lang="scss" scoped>
#digit_dash {
  display: none;
}
</style>
