<template>
  <div class="TL sync-burners" :style="{ top: position.top + 'px', left: position.left + 'px' }">
    <!-- <div v-if="active" class="TL temperature-guage" :style="{ top: position.top + 'px', left: position.left + 'px' }"> -->
    <svg xmlns="http://www.w3.org/2000/svg" width="48.4" height="128.5" overflow="visible">
      <path id="sb_art2" class="grey" d="M33.3 128.5h-8.4c-.4 0-.8-.3-.8-.8V82.5h1.5V127h7.6v1.5z" />
      <path id="sb_art1" class="grey" d="M25.7 46.2h-1.5V.8c0-.4.3-.8.8-.8h8.4v1.5h-7.6v44.7z" />
      <g @click="toggle" id="syncBurners_button">
        <path id="Wifi_Connect_dark_grey" d="M0 47.2h48.3v32H0z" />
        <g id="SyncBurners">
          <path
            class="lt_grey"
            d="M14.4 58.6l.9-.5c.4.8 1 1.2 1.8 1.2s1.4-.3 1.4-.9c0-.6-.4-.8-1.5-1.2-1.3-.4-2.3-.7-2.3-2 0-1.1.9-1.9 2.3-1.9 1.3 0 2.1.6 2.5 1.4l-.8.6c-.4-.7-1-1-1.7-1s-1.2.3-1.2.8c0 .6.5.8 1.6 1.2 1.3.4 2.3.8 2.3 2 0 1.1-.9 1.9-2.5 1.9-1.5.1-2.4-.6-2.8-1.6zM19.8 61.9l.3-.9c.1 0 .4.1.8.1s.6-.2.8-.5l.1-.4-1.8-4.8h1.2l1.2 3.5 1.2-3.5h1.1l-2 5.3c-.4.8-.8 1.3-1.7 1.3-.6 0-.9-.1-1.2-.1zM25.4 60.2v-4.8h1.1v.8c.4-.4.9-.9 1.7-.9.9 0 1.4.5 1.4 1.4v3.5h-1.1V57c0-.5-.2-.8-.7-.8-.5 0-.9.2-1.3.6v3.3h-1.1zM30.6 57.8c0-1.8 1.2-2.5 2.3-2.5 1.2 0 1.7.7 2 1.4l-1 .3c-.2-.5-.5-.8-1.1-.8-.6 0-1.2.4-1.2 1.6 0 1 .4 1.6 1.1 1.6.5 0 .9-.2 1.1-.8l.9.3c-.3.8-.9 1.4-2.1 1.4-.9 0-2-.8-2-2.5zM14.7 71.2v-6.7h2.5c1.3 0 2.3.4 2.3 1.7 0 .9-.5 1.4-1.2 1.5.8.2 1.4.6 1.4 1.6 0 1.2-1 1.8-2.4 1.8h-2.6zm1.1-3.9h1.3c.9 0 1.4-.3 1.4-.9 0-.6-.4-.9-1.3-.9h-1.3v1.8zm0 2.9h1.5c1 0 1.4-.3 1.4-1s-.5-1-1.5-1h-1.3v2zM20.9 69.8v-3.4H22v3.2c0 .5.2.8.7.8s.9-.3 1.3-.6v-3.3h1.1v4.8H24v-.6c-.3.3-.9.7-1.7.7-.9-.1-1.4-.6-1.4-1.6zM26.3 71.2v-4.8h1.1v.8c.3-.5.8-.9 1.7-.9h.1v1h-.3c-.7 0-1.2.3-1.5.8v3h-1.1zM30.1 71.2v-4.8h1.1v.8c.4-.4.9-.9 1.7-.9.9 0 1.4.5 1.4 1.4v3.5h-1.1V68c0-.5-.2-.8-.7-.8-.5 0-.9.2-1.3.6v3.3h-1.1zM35.2 68.8c0-1.8 1.3-2.5 2.3-2.5 1.1 0 2.1.6 2.1 2.6v.3h-3.3c0 .9.6 1.2 1.3 1.2.6 0 1-.2 1.3-.6l.6.6c-.5.5-1.2.9-2 .9-1.2 0-2.3-.8-2.3-2.5zm3.4-.5c-.1-.7-.4-1.1-1.1-1.1-.5 0-1 .3-1.1 1.1h2.2zM40.5 71.2v-4.8h1.1v.8c.3-.5.8-.9 1.7-.9h.1v1h-.3c-.7 0-1.2.3-1.5.8v3h-1.1zM43.8 70.5l.6-.7c.4.3.9.6 1.5.6s1-.2 1-.5c0-.4-.5-.5-1.1-.6-.9-.3-1.8-.5-1.8-1.6 0-.8.7-1.4 1.8-1.4.9 0 1.5.3 2 .7l-.5.7c-.4-.3-.9-.5-1.4-.5-.6 0-.8.2-.8.5 0 .4.5.5 1 .6.8.2 1.8.4 1.8 1.5 0 1-.9 1.5-2 1.5-.9 0-1.7-.3-2.1-.8z"
          />
        </g>
        <path class="grey" d="M.1 77.4h48.3v1.5H.1z" />
      </g>
      <path
        v-show="active"
        id="syncBurner_active"
        d="M4.2 71.4c-2.3 0-4.2-1.9-4.2-4.2v-9.5c0-2.3 1.9-4.2 4.2-4.2 2.3 0 4.2 1.9 4.2 4.2v9.5c.1 2.3-1.8 4.2-4.2 4.2"
        fill="#ec2024"
      />
    </svg>
  </div>
</template>

<script>
export default {
  name: 'syncBurnerButton',
  props: {
    position: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      active: false,
    };
  },
  methods: {
    toggle: function(){
      if(this.$store.getters.isActive('lockall')) return;
      
      window.SoundPlayer.playSound('Touch');
      this.active = !this.active;
        this.$store.dispatch('setStatus', { target: 'sync', status: this.active });
    }
  },
  mounted(){
        this.$store.watch(
      (state) => {
        return state.status.sync;
      },
      (newVal, oldVal) => {
        this.active = newVal;
      },
      {
        deep: true,
        immediate: false,
      }
    );

  }
};
</script>
<style lang="scss"></style>
