<template>
  <div class="TL temperature-guage" :style="{ top: position.top + 'px', left: position.left + 'px' }">
    <div v-show="active">
      <svg xmlns="http://www.w3.org/2000/svg" width="68.2" height="63.2" overflow="visible">
        <path
          v-show="arrow == 3"
          id="arrowPos_3"
          transform="rotate(-45.001 60.062 55.749)"
          class="red"
          d="M58.6 46.7h3v18.2h-3z"
        />
        <path
          v-show="arrow == 2"
          id="arrowPos_2"
          transform="rotate(-45.001 7.49 55.69)"
          class="red"
          d="M-1.6 54.2h18.2v3H-1.6z"
        />
        <path
          v-show="arrow == 1"
          id="arrowPos_1"
          transform="rotate(-45.001 55.69 7.491)"
          class="red"
          d="M46.6 6h18.2v3H46.6z"
        />
        <path
          v-show="arrow == 0"
          id="arrowPos_0"
          transform="rotate(-45.001 10.734 7.49)"
          class="red"
          d="M9.2-1.6h3v18.2h-3z"
        />
        <g v-show="heating" id="heating_label">
          <g id="heating_right" v-show="location == 'right'">
            <path
              class="red"
              d="M24.2 51.7v-5.9h1v2.4h2.7v-2.4h1v5.9h-1v-2.6h-2.7v2.6h-1zM30.5 51.7v-5.9h3.8v.9h-2.8v1.5h2.1v.9h-2.1v1.7h3v.9h-4zM35.2 51.7l2.1-5.9h1l2.1 5.9h-1l-.5-1.4h-2.2l-.5 1.4h-1zm1.7-2.3h1.6l-.8-2.4-.8 2.4zM42.1 51.7v-5h-1.8v-.9h4.6v.9h-1.8v5h-1zM46 51.7v-5.9h1v5.9h-1zM48.7 51.7v-5.9h1l2.8 4.2v-4.2h.9v5.9h-.9l-2.9-4.3v4.3h-.9zM54.7 48.7c0-1.9 1-3 2.6-3 1.1 0 1.9.5 2.3 1.9l-.9.2c-.3-.9-.7-1.2-1.4-1.2s-1.6.4-1.6 2.1c0 1.7.8 2.2 1.6 2.2s1.3-.5 1.4-1.3h-1.2v-.8h2.2v2.9h-.8v-.9c-.2.4-.7 1-1.6 1-1.8 0-2.6-1.3-2.6-3.1z"
            />
          </g>
          <g id="heating_left" v-show="location == 'left'">
            <path
              class="red"
              d="M9.6 51.8v-5.9h1v2.4h2.7v-2.4h1v5.9h-1v-2.6h-2.7v2.6h-1zM15.8 51.8v-5.9h3.8v.9h-2.8v1.5h2.1v.9h-2.1v1.7h3v.9h-4zM20.5 51.8l2.1-5.9h1l2.1 5.9h-1l-.5-1.4H22l-.5 1.4h-1zm1.7-2.3h1.6l-.8-2.4-.8 2.4zM27.4 51.8v-5h-1.8v-.9h4.6v.9h-1.8v5h-1zM31.4 51.8v-5.9h1v5.9h-1zM34 51.8v-5.9h1l2.8 4.2v-4.2h.9v5.9h-.9l-2.9-4.3v4.3H34zM40 48.8c0-1.9 1-3 2.6-3 1.1 0 1.9.5 2.3 1.9l-.9.2c-.3-.9-.7-1.2-1.4-1.2s-1.6.4-1.6 2.1c0 1.7.8 2.2 1.6 2.2s1.3-.5 1.4-1.3h-1.2v-.8H45v2.9h-.8v-.9c-.2.4-.7 1-1.6 1-1.8 0-2.6-1.3-2.6-3.1z"
            />
          </g>
        </g>
        <g v-show="displaystatus == '' || paired">
          <path
            v-show="false"
            id="Celsius"
            class="red"
            d="M62.7 38.4c0-2.2 1.2-3.4 2.9-3.4 1.5 0 2.3.8 2.5 2.1l-1.1.3c-.2-.9-.6-1.3-1.5-1.3-1.1 0-1.8.9-1.8 2.4 0 1.6.7 2.4 1.8 2.4.9 0 1.3-.4 1.6-1.4l1.1.2c-.3 1.3-1.1 2.2-2.6 2.2-1.7-.1-2.9-1.3-2.9-3.5"
          />
          <path id="Fahrenheit" class="red" d="M63.4 32.3v-6.6h4.1v1h-3v1.8h2.2v1h-2.2v2.8z" />
          <path
            id="Degrees"
            class="red"
            d="M63.3 20.8c0-1.6 1.1-2.3 2.2-2.3s2.2.7 2.2 2.3c0 1.6-1.1 2.3-2.2 2.3s-2.2-.7-2.2-2.3m3.3 0c0-.8-.3-1.5-1.1-1.5-.7 0-1.1.6-1.1 1.5 0 .8.3 1.5 1.1 1.5.7 0 1.1-.6 1.1-1.5"
          />
        </g>
      </svg>
      <div id="tempdigitHolder" v-show="active && displaystatus == '' || paired">
        <Digit :digit="temphunds" :position="digitdisplay.hunds"></Digit>
        <Digit :digit="tempsectens" :position="digitdisplay.tens"></Digit>
        <Digit :digit="tempones" :position="digitdisplay.ones"></Digit>
      </div>
    </div>
    <div id="statusHolder" v-show="status">
      <status :temperatureOffset="true" :status="displaystatus" :position="digitdisplay.hunds"></status>
    </div>
  </div>
</template>

<script>
import Digit from './digit.vue';
import Status from './status.vue';
import { gsap } from 'gsap';
import './directives/index.js';

export default {
  components: {
    Digit,
    Status,
  },
  props: {
    active: Boolean,
    paired: Boolean,
    status: Boolean,
    heating: {
      type: Boolean,
      default: false,
    },
    burner: Number,
    temperature: Number,
    location: String,
    arrow: Number,
    option: Number,
    position: Object,
  },
  data() {
    return {
      displaystatus: '',
      digitdisplay: {
        hunds: { top: 26, left: 13 },
        tens: { top: 26, left: 38 },
        ones: { top: 26, left: 63 },
      },
    };
  },
  computed: {
    temphunds: function() {
      let val = String(this.temperature >= 100 ? Math.floor(this.temperature / 100) : 0);
      return val;
    },
    tempsectens: function() {
      let subval = this.temperature >= 100 ? this.temperature % 100 : this.temperature;
      let val = String(subval >= 10 ? Math.floor(subval / 10) : 0);
      return val;
    },
    tempones: function() {
      let subval = this.temperature >= 100 ? this.temperature % 100 : this.temperature;
      let val = String(subval >= 10 ? subval % 10 : subval);
      return val;
    },
    leftIsHeating() {
      return (
        this.location == 'left' &&
        (this.$store.state.status.burner0 || this.$store.state.status.burner1 || this.$store.state.status.burner3)
      );
    },
    rightIsHeating() {
      return (
        this.location == 'left' &&
        (this.$store.state.status.burner1 || this.$store.state.status.burner2 || this.$store.state.status.burner4)
      );
    },
    leftIsActive() {
      return (
        this.location == 'left' &&
        (this.$store.state.status.burner0 || this.$store.state.status.burner1 || this.$store.state.status.burner3)
      );
    },
    rightIsActive() {
      return (
        this.location == 'left' &&
        (this.$store.state.status.burner1 || this.$store.state.status.burner2 || this.$store.state.status.burner4)
      );
    },
  },
  watch: {
    heating: function(newVal, oldVal) { 
      // if(newVal) {
        this.$store.dispatch('setStatus', { target: 'heating', status: newVal });
      // }

    },
    // temperature: function(newVal, oldVal) {
    //   // if (oldVal !== newVal) {
    //   //   if (this.tempTrack !== null) clearTimeout(this.tempTrack);
    //   //   if (this.tempInterval !== null) clearInterval(this.tempInterval);
    //   //   // gsap.killTweensOf('#digitHolder');
    //   //   // gsap.fromTo('#digitHolder', 0.75, { opacity: 1 }, { opacity: 0, yoyo: true, repeat: -1, ease: 'gsap.linear' });
    //   //   this.killPulse();
    //   //   this.pulseTemp();
    //   //   this.timeTrack = setTimeout(this.startHeating, 3000);
    //   // }
    // },
  },
  mounted() {
    this.$store.watch(
      (state) => {
        return state.status.pairing;
      },
      (newVal, oldVal) => {
        if (this.$store.state.mode == 'precision') {
          if (newVal !== oldVal && newVal) {
            this.displaystatus = 'pairing';

            //commented out until finding out if timeout is needed
            // this.timeCheck();
            // this.timeTrack = setTimeout(
            //   function() {
            //     this.displaystatus = 'error';
            //     window.SoundPlayer.playSound('Error');
            //     this.$store.dispatch('setStatus', { target: 'pairing', status: false });

            //     this.clearStatus();
            //   }.bind(this),
            //   15000
            // );
          }
        }
      },
      {
        deep: true,
        immediate: true,
      }
    );
    this.$store.watch(
      (state) => {
        return state.status.paired;
      },
      (newVal, oldVal) => {
        if (this.$store.state.mode == 'precision') {
          if (newVal !== oldVal && newVal) {
            this.displaystatus = '';
          }
        }
      },
      {
        deep: true,
        immediate: true,
      }
    );
  },
  methods: {
    startHeating: function() {},
    isHeating: () => {
      //
    },
    toggleTimer: function() {},
  },
};
</script>
<style lang="scss" scoped>
#tempdigitHolder,
#statusHolder {
  transform-origin: top left;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.719617862697178);
}
</style>
