<template>
  <div class="TL timer" :style="{ top: position.top + 'px', left: position.left + 'px' }">
    <svg xmlns="http://www.w3.org/2000/svg" width="153" height="76.6" overflow="visible">
      <g @click="toggle" id="timerStart_bn">
        <path id="Wifi_Connect_dark_grey_3_" d="M52.4 44.4h48.3v32H52.4z" />
        <g id="Timer_Light_grey">
          <path
            class="lt_grey"
            d="M66.2 68.9v-5.6h-2.1v-1h5.2v1h-2.1v5.6h-1zM70.2 63.2v-1h1.1v1h-1.1zm0 5.7v-4.8h1.1v4.8h-1.1zM72.7 68.9v-4.8h1.1v.7c.4-.4.9-.7 1.6-.7.8 0 1.1.3 1.3.8.4-.4.9-.8 1.7-.8 1 0 1.4.6 1.4 1.4v3.4h-1.1v-3.2c0-.5-.2-.8-.7-.8-.5 0-.8.3-1.2.6v3.3h-1.1v-3.2c0-.5-.2-.8-.7-.8-.4 0-.8.3-1.2.6v3.3h-1.1zM80.7 66.5c0-1.8 1.3-2.5 2.3-2.5 1.1 0 2.1.6 2.1 2.6v.3h-3.3c0 .9.6 1.2 1.3 1.2.6 0 1-.2 1.3-.6l.6.6c-.5.5-1.2.9-2 .9-1.2-.1-2.3-.8-2.3-2.5zm3.4-.5c-.1-.7-.4-1.1-1.1-1.1-.5 0-1 .3-1.1 1.1h2.2zM86 68.9v-4.8h1.1v.8c.3-.5.8-.9 1.7-.9h.2v1h-.3c-.7 0-1.2.3-1.5.8v3H86z"
          />
        </g>
        <path id="Timer_bar_dark_grey" class="grey" d="M52.3 75.1h48.3v1.5H52.3z" />
      </g>
      <g v-show="active">
        <g id="label_hour">
          <path
            class="red"
            d="M38.3 17.2v-5.9h1v2.4H42v-2.4h1v5.9h-1v-2.6h-2.7v2.6h-1zM45.1 17.2v-5.9h2.1c1.4 0 2.2.6 2.2 1.8 0 .9-.5 1.5-1.3 1.7l1.4 2.5h-1.1L47.1 15h-1v2.3h-1zm1-3.2h1.1c.8 0 1.3-.2 1.3-.9s-.4-.9-1.3-.9h-1.1V14z"
          />
        </g>
        <g id="label_min">
          <path
            class="red"
            d="M69 17.2v-5.8h1.3l1.6 4.6 1.5-4.6h1.3v5.8h-.9v-4.3l-.3 1.2-1.1 3.1h-.9L70.3 14c-.1-.4-.2-.7-.4-1.2v4.4H69zM76.9 17.2v-5.8h1v5.8h-1zM80 17.2v-5.8h1l2.7 4.1v-4.1h.9v5.8h-.9L81 12.9v4.2h-1z"
          />
        </g>
        <g id="Numbers">
          <g>
            <path
              class="red"
              d="M65.1 31v-.1l-.1-.2-.1-.1-.1-.1-.2-.1H62.7l-.1.1-.2.1-.1.1v.2l-.1.1V34.1l.1.2v.1l.1.1.2.1.1.1h.2l.1.1h1.3l.2-.1h.1l.2-.1.1-.1.1-.1.1-.1v-.2l.1-.2v-2.7zM65.1 42.4v-.2l-.1-.1-.1-.1-.1-.1-.2-.1h-.1l-.2-.1H63l-.1.1h-.2l-.1.1-.2.1-.1.1v.1l-.1.2V45.5l.1.1v.1l.1.2.2.1h.1l.2.1h1.6l.1-.1h.2l.1-.1.1-.2.1-.1v-.1l.1-.2v-2.7z"
            />
          </g>
        </g>
        <g
          id="timerDown_bn"
          v-long-press="850"
          @long-press-start="userdecreaseTimeTen"
          @long-press-stop="onLongPressStop"
          @click="userdecreaseTime"
        >
          <path id="Wifi_Connect_dark_grey_2_" d="M10.8 29.9H28v17.4H10.8z" />
          <path class="red" d="M13.4 39.6v-2.1h12v2.1h-12z" />
        </g>
        <!-- <g id="timerUp_bn" v-show="!timerRunning" @click="increaseTime"> -->
        <g
          id="timerUp_bn"
          v-long-press="850"
          @long-press-start="increaseTimeTen"
          @long-press-stop="onLongPressStop"
          @click="increaseTime"
        >
          <path id="Wifi_Connect_dark_grey" d="M124.8 29.5H142v17.4h-17.2z" />
          <path class="red" d="M132.2 44.4v-5h-4.9V37h4.9v-5h2.4v5h4.9v2.4h-4.9v5h-2.4z" />
        </g>
      </g>
      <g v-show="wifi" id="status_wifi">
        <path
          class="red"
          d="M110.2 15.1c-.4-.4-1.1-.4-1.5 0-.4.4-.4 1.1 0 1.5.4.4 1.1.4 1.5 0 .4-.4.4-1.1 0-1.5M113.5 12.4c.3.3.7.3 1 0 .3-.3.3-.7 0-1-2.7-2.7-7.2-2.7-9.9 0-.3.3-.3.7 0 1 .3.3.7.3 1 0 2.2-2.2 5.7-2.2 7.9 0"
        />
        <path
          class="red"
          d="M112.4 13.4c-1.6-1.6-4.3-1.6-5.9 0-.3.3-.3.7 0 1 .3.3.7.3 1 0 1.1-1.1 2.9-1.1 4 0 .3.3.7.3 1 0 .2-.3.2-.7-.1-1"
        />
      </g>
      <path
        id="status_bluetooth"
        class="red"
        v-show="bluetooth || (paired && !pairing) || (paired2 && !pairing)"
        d="M99.2 11.1l-2.7-2.7V12L95 10.4l-.6.6 1.9 1.9-1.9 1.9.5.5 1.5-1.5v3.6l2.7-2.7-1.8-1.8 1.9-1.8zm-1.1 0l-.9.9v-1.7l.9.8zm0 3.5l-.9.9v-1.7l.9.8z"
      />
      <path id="Center_Bar" class="grey" d="M0 0h153v1.5H0z" />
    </svg>
    <div id="digitHolder" :class="{ blink: isBlinking }" v-show="active">
      <Digit :digit="timemin" :position="digits.min"></Digit>
      <Digit :digit="timesectens" :position="digits.sectens"></Digit>
      <Digit :digit="timesecs" :position="digits.secs"></Digit>
    </div>
    <div id="statusHolder">
      <status :status="displaystatus" :position="statusPosition"></status>
    </div>
  </div>
</template>

<script>
import { gsap, TimelineMax } from 'gsap';
import Status from './status.vue';
import Digit from './digit.vue';
import Vue from 'vue';
import LongPress from 'vue-directive-long-press';
Vue.directive('long-press', LongPress);

export default {
  components: {
    Digit,
    Status,
  },
  props: {
    position: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      displaystatus: '',
      timeTrack: null,
      timeInterval: null,
      pressInterval: null,
      totalTime: 0,
      timerRunning: false,
      active: false,
      bluetooth: false,
      wifi: false,
      min: 0,
      sectens: 0,
      secs: 0,
      pairing: false,
      paired: false,
      paired2: false,
      marchTL: null,
      isBlinking: false,
      statusPosition: { top: 23, left: 39 },
      digits: {
        min: { top: 23, left: 39 },
        sectens: { top: 23, left: 69 },
        secs: { top: 23, left: 95 },
      },
    };
  },
  methods: {
    toggle: function() {
      if(this.$store.getters.isActive('lockall')) return;
      
      window.SoundPlayer.playSound('Touch');
      this.active = !this.active;
      this.$store.dispatch('setStatus', { target: 'timer', status: this.active });
      this.pulseTime();
      if (this.active) {
        this.timeTrack = setTimeout(this.inactivity.bind(this), 30000);
      } else {
        this.stopTimer();
        this.timeCheck();
      }
    },
    inactivity: function() {
      if (this.displaystatus == 'unpaired') {
        this.displaystatus == 'error';
        this.$store.dispatch('setStatus', { target: 'unpairconfirm', status: false });
      } else {
        this.active = false;
      }
      window.SoundPlayer.playSound('Cancel');
    },
    timeCheck: function() {
      if (this.timeTrack !== null) clearTimeout(this.timeTrack);
    },
    pulseTime: function() {
      this.isBlinking = true;
    },
    killPulse: function() {
      this.isBlinking = false;
    },
    toggleTimer: function() {
      if (!this.$store.getters.isActive('lockall')) {
        this.active = !this.active;
      }
    },
    countdownTime: function() {
      if (this.totalTime == 0) {
        this.endTimer();
        return;
      }
      window.SoundPlayer.playSound('Start');
      this.decreaseTime();
      this.userInit = false;
      this.timerRunning = true;
      this.killPulse();
      const endTime = this.totalTime * 1000 * 60;
      this.timeInterval = setInterval(this.decreaseTime.bind(this), 1000 * 60);
      this.timeTrack = setTimeout(this.endTimer.bind(this), endTime);
    },
    endTimer: function() {
      window.SoundPlayer.playSound('Cancel');
      this.pulseTime();
      this.stopTimer();
    },
    stopTimer: function() {
      this.timerRunning = false;
      this.killPulse();
      this.totalTime = 0;

      this.timeCheck();
      if (this.timeInterval !== null) clearInterval(this.timeInterval);
      if (this.timeTrack !== null) clearTimeout(this.timeTrack);
    },
    increaseTime: function() {
      window.SoundPlayer.playSound('Touch');
      this.pulseTime();
      this.userInit = true;
      this.totalTime++;
    },
    userdecreaseTime: function() {
      window.SoundPlayer.playSound('Touch');
      this.pulseTime();
      this.userInit = true;
      this.decreaseTime();
    },
    increaseTimeTen: function() {
      window.SoundPlayer.playSound('Touch');
      this.killPulse();
      this.userInit = true;
      this.pressInterval = setInterval(
        function() {
          this.totalTime += 2;
        }.bind(this),
        100
      );
    },

    userdecreaseTimeTen: function() {
      window.SoundPlayer.playSound('Touch');
      this.userInit = true;
      this.killPulse();

      this.pressInterval = setInterval(
        function() {
          if (this.totalTime - 10 >= 0) {
            this.totalTime -= 2;
          } else {
            this.totalTime = 0;
          }
        }.bind(this),
        100
      );
    },
    decreaseTime: function() {
      if (this.totalTime - 1 >= 0) {
        this.totalTime -= 1;
      }
    },
    onLongPressStop: function() {
      this.pulseTime();
      clearInterval(this.pressInterval);
    },
    pairConfirmed: function() {
      this.timeTrack = setTimeout(
        function() {
          this.clearStatus();
          // this.displaystatus = '';
        }.bind(this),
        7000
      );
    },
    clearStatus: function() {
      this.displaystatus = '';
    },
  },
  watch: {
    totalTime: function(newVal, oldVal) {
      if (oldVal !== newVal && this.userInit) {
        this.timeCheck();
        if (this.timeInterval !== null) clearInterval(this.timeInterval);
        // this.killPulse();
        // this.pulseTime();
        this.timeTrack = setTimeout(this.countdownTime.bind(this), 5000);
      }
    },
  },
  mounted() {
    // WATCHERS
    this.$store.watch(
      (state) => {
        return state.status.timer;
      },
      (newVal, oldVal) => {
        if (newVal !== oldVal && !newVal) {
          this.stopTimer();
          this.active = newVal;
        }
      },
      {
        deep: true,
        immediate: false,
      }
    );
    this.$store.watch(
      (state) => {
        return state.status.pairing;
      },
      (newVal, oldVal) => {
        this.pairing = newVal;
        if (this.$store.state.mode !== 'precision') {
          if (newVal !== oldVal && newVal) {
            this.displaystatus = 'pairing';
            this.timeCheck();
          }
        }
      },
      {
        deep: true,
        immediate: true,
      }
    );
    this.$store.watch(
      (state) => {
        return state.status.paired;
      },
      (newVal, oldVal) => {
        this.bluetooth = newVal;
        this.timeCheck();

        if (newVal && this.$store.state.mode !== 'unpair' && this.$store.state.mode !== 'precision') {
          this.displaystatus = 'paired1';
          this.paired = true;
          this.pairConfirmed();
        }
      },
      {
        deep: true,
        immediate: false,
      }
    );
    this.$store.watch(
      (state) => {
        return state.status.paired2;
      },
      (newVal, oldVal) => {
        if (newVal && this.$store.state.mode !== 'precision') {
          this.displaystatus = 'paired2';
          this.paired2 = true;
          this.pairConfirmed();
        }
      },
      {
        deep: true,
        immediate: false,
      }
    );

    this.$store.watch(
      (state) => {
        return state.status.unpairconfirm;
      },
      (newVal, oldVal) => {
        if (newVal) {
          this.displaystatus = 'unpaired';
          // this.timeTrack = setTimeout(this.inactivity.bind(this), 5000);
        } else {
          console.log('unpair confirmed');
          this.displaystatus = 'unpairedconfirmed';
        }
      },
      {
        deep: true,
        immediate: false,
      }
    );
    this.$store.watch(
      (state) => {
        return state.status.wifi;
      },
      (newVal, oldVal) => {
        if (newVal) this.wifi = newVal;
      },
      {
        deep: true,
        immediate: true,
      }
    );
    this.$store.watch(
      (state) => {
        return state.status.error;
      },
      (newVal, oldVal) => {
        if (newVal) {
          this.displaystatus = 'error';
        } else {
          this.displaystatus = '';
        }
      },
      {
        deep: true,
        immediate: true,
      }
    );
  },
  computed: {
    lockall: function(oldVal, newVal) {
      return this.$store.getters.isActive('lockall');
    },
    timemin: function() {
      let val = String(this.totalTime >= 60 ? Math.floor(this.totalTime / 60) : 0);
      return val;
    },
    timesectens: function() {
      let subval = this.totalTime >= 60 ? this.totalTime % 60 : this.totalTime;
      let val = String(subval >= 10 ? Math.floor(subval / 10) : 0);
      return val;
    },
    timesecs: function() {
      let subval = this.totalTime >= 60 ? this.totalTime % 60 : this.totalTime;
      let val = String(subval >= 10 ? subval % 10 : subval);
      return val;
    },
  },
};
</script>
<style lang="scss" scoped>
</style>
